<cfinclude template="bld_preprocessing.cfm">
<cfquery name="Variables.Scq.elend.PrcsMthdsToExprtDocs" datasource="#Variables.db#">
select 	 v.IMPrmtrValTxt as PrgmCds
<cfif Variables.Sybase>
from loanapp..IMPrmtrValTbl v
where v.IMPRMTRSEQNMB = '616'
<cfelse>
from loanapp.IMPrmtrValTbl v
where v.IMPRMTRSEQNMB = '616'
</cfif>
</cfquery>
<cfinclude template="#Variables.LogURL#/log_SleQuery.cfm">
