<cfinclude template="bld_preprocessing.cfm">
<cfquery name="Variables.Scq.elend.PrcsCntrWsdl" datasource="#Variables.db#">
select 	 b.IMPrmtrValTxt as Wsdl_Default
		,a.IMPrmtrValTxt as Wsdl_E
<cfif Variables.Sybase>
from loanapp..IMPrmtrValTbl a, loanapp..IMPrmtrValTbl b
where a.IMPRMTRSEQNMB = '615'
and b.IMPRMTRSEQNMB = '614'
<cfelse>
from loanapp.IMPrmtrValTbl a, loanapp.IMPrmtrValTbl b
where a.IMPRMTRSEQNMB = '615'
and b.IMPRMTRSEQNMB = '614'
</cfif>
</cfquery>
<cfinclude template="#Variables.LogURL#/log_SleQuery.cfm">
