<!--- Called by Custom Tags cf_mainnav. Must be in same directory as cf_mainnav. --->
<cfoutput>
MM_preloadImages
	(</cfoutput>
<cfloop index="Image" list="#Variables.ListShowImages#"><!--- Defined in dsp_DefineJavaScriptsForButtons.cfm --->
	<cfset Found					= ListFind(ListStdImages, Image)>
	<cfif Found GT 0>
		<cfset Variables.Filename	= "#Attributes.LibraryURL#/images/#SelfName#/#Image#_hi.gif">
	<cfelse>
		<cfset Variables.Filename	= "#Attributes.LibraryURL#/images/applookandfeel/#Image#_hi.gif">
	</cfif>
	<cfoutput>
	'#Filename#',</cfoutput>
</cfloop>
<cfoutput>
	'#Attributes.LibraryURL#/images/#SelfName#/ready_blue.gif'
	)
</cfoutput>
