<!---
AUTHOR:				Steve Seaquist, Trusted Mission Solutions, Inc, for the US Small Business Administration. 
DATE:				07/22/2015. 
DESCRIPTION:		Builds Variables.Origs with values from the database (or nullstring, if Variables.EndUserData.IMUserId is 0). 
NOTES:				Should only be done in dsp_userprofile when NOT FormDataRecovered. In Self-Test Mode, also tests bld_Defaults. 
INPUT:				Variables.EndUserData (containing, at a minimum, IMUserId and MayEdit). 
OUTPUT:				Variables: All columns needed by included "fieldset" files, ErrMsg, TxnErr, 
					GetUser, GetUBus, GetLogn, GetCred, GetFedU, GetTitl and Origs. Origs allows use by both dsp and act. 
REVISION HISTORY:	07/22/2015,	SRS:	Original implementation as part of the new dsp_userprofile that consolidates all user 
										profile pages. Cannibalized /cls/cfincludes/bld_UserInfoArrays.cfm. Got rid of arrays. 
										(ColumnName_Index format is usable by both the dsp page and act page.) Started using 
										Origs to preserve "skip" and "view" data without using hidden elements, since we now 
										have no prior knowledge as to which which columns a caller may chose to make uneditable. 
--->

<!--- Configuration Parameters: --->

<cfset Variables.BldOrigs_BogusNegIMUserIdForNewProfiles	= -1>

<!--- To execute this file in self-test mode, go directly to it in a web browser (no caller): --->

<cfset Variables.BldOrigs_SelfTestMode						= (CGI.Script_Name is "/library/cfincludes/userprofile/bld_Origs.cfm")>
<cfif  Variables.BldOrigs_SelfTestMode>

	<cfswitch expression="#LCase(CGI.Server_Name)#">
	<cfcase value="cadweb.sba.gov,catweb.sba.gov,ca1anacostia.sba.gov,ca2rouge.sba.gov,ca2yukon.sba.gov">
		<!--- Allows us developers (plus other SBA folks, whom the SBA also trusts) to see any IMUserId, ... --->
		<cfif IsDefined("URL.IMUserId")>
			<cfset Variables.EndUserData					=
				{
				"IMUserId"									= URL.IMUserId,
				"MayEdit"									= "Yes"
				}>
		<cfelse>
			<cfset Variables.EndUserData					=
				{
				"IMUserId"									= 420,
				"MayEdit"									= "Yes"
				}><!--- Steve Seaquist on DEVCAFS1 and TSTCAFS4. --->
		</cfif>
	</cfcase>
	<cfdefaultcase>
		<!--- ..., but no one else!!! --->
		<cfoutput>
This file's Self-Test Mode is not allowed on servers visible to the general public. 
</cfoutput>
		<cfsetting showdebugoutput="No"><!--- Don't even showdebugoutput on public servers. --->
		<cfabort>
	</cfdefaultcase>
	</cfswitch>
	<cfset Variables.FormDataRecovered						= "No">
	<cfset Variables.ReadOnlyProfile						= "No">

<cfelse>

	<!--- If we're **not** in self-test mode, don't trash 3 key variables in the caller (presumed to exist): --->
	<cfset Variables.BldOrigs_hold_db						= Variables.db>
	<cfset Variables.BldOrigs_hold_password					= Variables.password>
	<cfset Variables.BldOrigs_hold_username					= Variables.username>

</cfif><!--- /BldOrigs_SelfTestMode --->

<!--- Verify Minimal Inputs: --->

<cfparam name="Variables.ErrMsg"							default="">
<cfparam name="Variables.TxnErr"							default="No">

<cfif NOT Variables.TxnErr><!--- Keep indention low. --->
	<cfif		(NOT IsDefined("Variables.EndUserData.IMUserId"))
		or		(NOT IsNumeric( Variables.EndUserData.IMUserId ))>
		<cfset Variables.ErrMsg								&="ERROR. The routine to set data on the page was not passed "
															& "sufficient information to display data.">
		<cfset Variables.TxnErr								= "Yes">
	<cfelseif	(NOT IsDefined("Variables.EndUserData.MayEdit"))
		or		(NOT IsBoolean( Variables.EndUserData.MayEdit ))>
		<cfset Variables.ErrMsg								&="ERROR. The routine to set data on the page was not passed "
															& "sufficient information about permissions.">
		<cfset Variables.TxnErr								= "Yes">
	</cfif>
</cfif><!--- /TxtErr --->

<!--- Database call: --->

<cfif NOT Variables.TxnErr><!--- Keep indention low. --->
	<cfset Variables.db										= "oracle_housekeeping">
	<cfset Variables.password								= "">
	<cfset Variables.username								= "">
	<cfset Variables.Identifier								= "2">
	<cfset Variables.LogAct									= "retrieve profile">
	<cfset Variables.cfpra									=
			[
			["GetUser",										1],
			["GetUBus",										2],
			["GetLogn",										3],
			["GetCred",										4],
			["GetFedU",										5],
			["GetTitl",										6]
			]>
	<cfif Variables.EndUserData.IMUserId is 0>
		<!---
		For the purposes of just getting all Query.Column references defined, a negative number is better than 0. (IMCrdntlTbl 
		actually has rows with IMUserId 0!) So we TEMPORARILY use a bogus negative number, then IMMEDIATELY set IMUserId to 0, 
		preserving 0 as the special value that means new profile. Doing a dummy I/O like this will allow us someday to support 
		new columns automatically via Query.ColumnList. The I/O overhead is trivial, so maintenance benefits far outweigh it. 
		--->
		<cfset Variables.IMUserId							= Variables.BldOrigs_BogusNegIMUserIdForNewProfiles>
		<cfinclude template="/cfincludes/oracle/security/spc_USERINFOSELCSP.PUBLIC.cfm">
		<cfset Variables.IMUserId							= 0>
	<cfelse>
		<cfset Variables.IMUserId							= Variables.EndUserData.IMUserId>
		<cfinclude template="/cfincludes/oracle/security/spc_USERINFOSELCSP.PUBLIC.cfm">
	</cfif>
</cfif><!--- /TxtErr --->

<!--- Build Variables.Origs: --->

<cfif NOT Variables.TxnErr><!--- Keep indention low. --->

	<cfif NOT IsDefined("LoadOrig")><!--- Probably defined in caller, but BldOrigs_SelfTestMode needs it too. --->
		<cfinclude template="/library/udf/bld_DspPageLoadTimeOrigsUDFs.cfm">
	</cfif>
	<!---
	In the case of IMUserId, MayEdit, RecordCounts, etc, use LoadOrig, because we want to save those exact values, even if 
	Variables.EndUserData.IMUserId is 0. But in the more common case of record set data, we define a special-use routine, 
	LoadBldO, which requires a little explanation: 

	When Variables.EndUserData.IMUserId is 0, all result sets SHOULD be empty, but sometimes they aren't, as mentioned in 
	the comment just before calling UserInfoSelCSP, above. Theoretically, it could happen in the case of any particular bogus 
	negative number we use. We don't want to load bad data in that situation. LoadBldO prevents that.  
	--->
	<cfif NOT IsDefined("LoadBldO")><!--- Defined only here. --->
		<cffunction name="LoadBldO" returntype="void">
			<cfargument name="ColumnName"	required="Yes"	type="String">
			<cfargument name="ValueFromDB"	required="Yes"	type="Any">
			<cfif Variables.EndUserData.IMUserId is 0>
				<cfset LoadOrig(Arguments.ColumnName,		"")><!--- When this default isn't what you want, use LoadOrig. --->
			<cfelse>
				<cfset LoadOrig(Arguments.ColumnName,		Arguments.ValueFromDB)>
			</cfif>
		</cffunction>
	</cfif>
	<cfset LoadOrig("IMUserId",								Variables.EndUserData.IMUserId)><!--- LoadOrig, not LoadBldO --->
	<cfset LoadOrig("MayEdit",								Variables.EndUserData.MayEdit)>	<!--- LoadOrig, not LoadBldO --->

	<!--- IMUserTbl: --->

	<cfset LoadBldO("IMUserNm",								GetUser.IMUserNm)>
	<cfset LoadBldO("IMUserTypCd",							GetUser.IMUserTypCd)>
	<cfset LoadBldO("IMUserFirstNm",						GetUser.IMUserFirstNm)>
	<cfset LoadBldO("IMUserLastNm",							GetUser.IMUserLastNm)>
	<cfset LoadBldO("IMUserMidNm",							GetUser.IMUserMidNm)>
	<cfset LoadBldO("IMUserSfxNm",							GetUser.IMUserSfxNm)>
	<cfset LoadBldO("IMUserPrtNm",							GetUser.IMUserPrtNm)>
	<cfset LoadBldO("IMUserDOBDt",							GetUser.IMUserDOBDt)>
	<!--- Only safe time to format data is right after it comes off of the database. Only a few keys have "Disp" prefixes. --->
	<cfif IsDate(GetUser.IMUserDOBDt)>
		<cfset LoadBldO("DispIMUserDOBDt",		DateFormat(	GetUser.IMUserDOBDt, "mm/dd/yyyy"))>	<!--- Disp prefix --->
	<cfelse>
		<cfset LoadBldO("DispIMUserDOBDt",					GetUser.IMUserDOBDt)>					<!--- Disp prefix --->
	</cfif>
	<cfset LoadBldO("IMUserLast4DgtSSNNmb",					GetUser.IMUserLast4DgtSSNNmb)>
	<cfset LoadBldO("IMUserStr1Txt",						GetUser.IMUserStr1Txt)>
	<cfset LoadBldO("IMUserStr2Txt",						GetUser.IMUserStr2Txt)>
	<cfset LoadBldO("IMUserCtyNm",							GetUser.IMUserCtyNm)>
	<cfset LoadBldO("IMUserStCd",							GetUser.StCd)>
	<cfset LoadBldO("StCd",									GetUser.StCd)>
	<cfset LoadBldO("IMUserStNm",							GetUser.IMUserStNm)>
	<cfset LoadBldO("IMUserZip5Cd",							GetUser.Zip5Cd)>
	<cfset LoadBldO("Zip5Cd",								GetUser.Zip5Cd)>
	<cfset LoadBldO("IMUserZip4Cd",							GetUser.Zip4Cd)>
	<cfset LoadBldO("Zip4Cd",								GetUser.Zip4Cd)>
	<cfset LoadBldO("IMUserPostCd",							GetUser.IMUserPostCd)>
	<cfif Variables.EndUserData.IMUserId is 0>
		<cfset LoadOrig("IMCntryCd",						"US")>
	<cfelse>
		<cfset LoadBldO("IMCntryCd",						GetUser.IMCntryCd)>
	</cfif>
	<cfset LoadBldO("IMUserPhnCntryCd",						GetUser.IMUserPhnCntryCd)>
	<cfset LoadBldO("IMUserPhnAreaCd",						GetUser.IMUserPhnAreaCd)>
	<cfset LoadBldO("IMUserPhnLclNmb",						GetUser.IMUserPhnLclNmb)>
	<!--- Because we're not looping on ColumnList yet, we can rely on Variables.Origs.IMCntryCd and its default here. --->
	<cfif	(Variables.EndUserData.IMUserId					is not 0)
		and	(Variables.Origs.IMCntryCd						is "US")
		and	(Len		(GetUser.IMUserPhnLclNmb)			is 7)
		and	IsNumeric	(GetUser.IMUserPhnLclNmb)>
		<cfset LoadOrig("DispIMUserPhnLclNmb",				Left	(GetUser.IMUserPhnLclNmb, 3)
														&	"-"
														&	Right	(GetUser.IMUserPhnLclNmb, 4))>	<!--- Disp prefix --->
	<cfelse>
		<cfset LoadBldO("DispIMUserPhnLclNmb",				GetUser.IMUserPhnLclNmb)>				<!--- Disp prefix --->
	</cfif>
	<cfset LoadBldO("IMUserPhnExtnNmb",						GetUser.IMUserPhnExtnNmb)>
	<cfset LoadBldO("IMUserEmailAdrTxt",					GetUser.IMUserEmailAdrTxt)>
	<cfset LoadBldO("IMUserEmailAdrTxt2",					GetUser.IMUserEmailAdrTxt)><!--- Not on database. --->
	<cfset LoadBldO("LocId",								GetUser.LocId)>
	<cfset LoadBldO("PrtId",								GetUser.PrtId)>
	<cfset LoadBldO("PrtLocNm",								GetUser.PrtLocNm)>
	<cfset LoadBldO("SBAOfcCd",								GetUser.SBAOfcCd)>
	<cfset LoadBldO("SBAOfc1Nm",							GetUser.SBAOfc1Nm)>
	<cfset LoadBldO("IMAsurncLvlCd",						GetUser.IMAsurncLvlCd)>
	<cfset LoadBldO("UserIMAsurncLvlCd",					GetUser.IMAsurncLvlCd)>
	<cfset LoadBldO("IMUserActvInactInd",					GetUser.IMUserActvInactInd)>
	<cfset LoadBldO("IMUserSuspRsnDt",						GetUser.IMUserSuspRsnDt)>
	<cfset LoadBldO("IMUserSuspRsnCd",						"")><!--- Not in GetUser result set yet, to my knowledge. --->
	<cfset LoadBldO("IMUserSuspRsn",						GetUser.IMUserSuspRsn)>
	<cfset LoadBldO("DeptId",								GetUser.DeptId)>
	<cfset LoadBldO("DeptNm",								GetUser.DeptNm)>
	<cfset LoadBldO("AgncyId",								GetUser.AgncyId)>
	<cfset LoadBldO("AgncyNm",								GetUser.AgncyNm)>
	<cfset LoadBldO("LINCInd",								GetUser.LINCInd)>
	<cfif GetUser.LINCInd is "Y">
		<cfset LoadBldO("DispLINCInd",						"Yes")>									<!--- Disp prefix --->
	<cfelse>
		<cfset LoadBldO("DispLINCInd",						"No")>									<!--- Disp prefix --->
	</cfif>

	<!--- IMUserBusTbl: --->

	<cfloop query="GetUBus">
		<cfset Variables.Idx							=	GetUBus.CurrentRow>
		<cfset LoadBldO("IMUserBusSeqNmb_#Idx#",			GetUBus.IMUserBusSeqNmb)>
		<cfset LoadBldO("IMUserBusEINSSNInd_#Idx#",			GetUBus.IMUserBusEINSSNInd)>
		<cfset LoadBldO("IMUserBusTaxId_#Idx#",				GetUBus.IMUserBusTaxId)>
		<cfset LoadBldO("DispEINSSN_#Idx#",					"???")>
		<cfset LoadBldO("DispTaxId_#Idx#",					GetUBus.IMUserBusTaxId)>
		<cfif Len(GetUBus.IMUserBusTaxId) is 9>
			<cfswitch expression="#GetUBus.IMUserBusEINSSNInd#">
			<cfcase value="E">
				<cfset LoadBldO("DispEINSSN_#Idx#",			"EIN")>
				<cfset LoadBldO("DispTaxId_#Idx#",			  Left	(GetUBus.IMUserBusTaxId, 2)
															& "-"
															& Right	(GetUBus.IMUserBusTaxId, 7))>
			</cfcase>
			<cfcase value="S">
				<cfset LoadBldO("DispEINSSN_#Idx#",			"SSN")>
				<cfset LoadBldO("DispTaxId_#Idx#",			  Left	(GetUBus.IMUserBusTaxId, 3)
															& "-"
															& Mid	(GetUBus.IMUserBusTaxId, 4, 2)
															& "-"
															& Right	(GetUBus.IMUserBusTaxId, 4))>
			</cfcase>
			</cfswitch>
		</cfif>
		<cfset LoadBldO("IMUserBusLocDUNSNmb_#Idx#",		GetUBus.IMUserBusLocDUNSNmb)>
		<cfset LoadBldO("BusEINCertInd_#Idx#",				GetUBus.BusEINCertInd)>
	</cfloop>
	<cfset LoadOrig("RecordCountUserBus",					GetUBus.RecordCount)><!--- LoadOrig, not LoadBldO --->

	<!--- IMSBACrdntlTbl: --->

	<cfset LoadBldO("IMSBACrdntlLognNm",					GetLogn.IMSBACrdntlLognNm)>
	<cfset LoadBldO("IMSBACrdntlPasswrd",					GetLogn.IMSBACrdntlPasswrd)>
	<cfset LoadBldO("IMSBACrdntlPasswrd2",					GetLogn.IMSBACrdntlPasswrd)><!--- Not on database. --->
	<cfset LoadBldO("IMSBACrdntlPasswrdExprDt",				GetLogn.IMSBACrdntlPasswrdExprDt)>
	<cfif IsDate(GetLogn.IMSBACrdntlPasswrdExprDt)>
		<cfset LoadBldO("DispIMSBACrdntlPasswrdExprDt",
												DateFormat(	GetLogn.IMSBACrdntlPasswrdExprDt, "mm/dd/yyyy"))>
	<cfelse>
		<cfset LoadBldO("DispIMSBACrdntlPasswrdExprDt",		GetLogn.IMSBACrdntlPasswrdExprDt)>
	</cfif>
	<cfset LoadBldO("IMSBACrdntlFirstLognInd",				GetLogn.IMSBACrdntlFirstLognInd)>
	<cfset LoadBldO("IMAsurncLvlCd",						GetLogn.IMAsurncLvlCd)>

	<!--- IMCrdntlTbl: --->

	<cfloop query="GetCred">
		<cfset Variables.Idx							=	GetCred.CurrentRow>
		<cfset LoadBldO("IMCrdntlSeqNmb_#Idx#",				GetCred.IMCrdntlSeqNmb)>
		<cfset LoadBldO("IMCrdntlServPrvdrId_#Idx#",		GetCred.IMCrdntlServPrvdrId)>
		<cfset LoadBldO("IMCrdntlServPrvdrNm_#Idx#",		GetCred.IMCrdntlServPrvdrNm)>
		<cfset LoadBldO("IMCrdntlUserId_#Idx#",				GetCred.IMCrdntlUserId)>
	</cfloop>
	<cfset LoadOrig("RecordCountCrdntl",					GetCred.RecordCount)><!--- LoadOrig, not LoadBldO --->

	<!---
	IMFedUserTbl (Duplicates data from GetUser, but I GUESS it's okay. Java did the same. Doesn't exactly duplicate data 
	from the new result set GetTitl, but still, it seems redundant. Probably due for some cleanup soon.) 
	--->

	<cfset LoadBldO("AgncyId",								GetFedU.AgncyId)>
	<cfset LoadBldO("AgncyNm",								GetFedU.AgncyNm)>
	<cfset LoadBldO("DeptId",								GetFedU.DeptId)>
	<cfset LoadBldO("JobTitlCd",							GetFedU.JobTitlCd)>
	<cfset LoadBldO("JobTitlDescTxt",						GetFedU.JobTitlDescTxt)>

	<!--- JobTitlTbl: --->

	<cfloop query="GetTitl">
		<cfset Variables.Idx							=	GetTitl.CurrentRow>
		<cfset LoadBldO("IMUserTitlSeqNmb_#Idx#",			GetTitl.IMUserTitlSeqNmb)>
		<cfset LoadBldO("JobTitlCd_#Idx#",					GetTitl.JobTitlCd)>
		<cfset LoadBldO("JobTitlDescTxt_#Idx#",				GetTitl.JobTitlDescTxt)>
	</cfloop>
	<cfset LoadOrig("RecordCountJobTitl",					GetTitl.RecordCount)><!--- LoadOrig, not LoadBldO --->
	<!---
	The following fields do not exist on the database. They are only used to verify a request for JobTitlCd. Therefore, 
	when we actually USE these fields, we always want them to be initiailized to the nullstring: 
	--->
	<!--- Loan Borrower --->
	<cfset LoadBldO("SSN1",									"")><!--- Logical Group for next 3 fields --->
	<cfset LoadBldO(	"TaxId1",							"")><!--- SSN 3 --->
	<cfset LoadBldO(	"TaxId2",							"")><!--- SSN 2 --->
	<cfset LoadBldO(	"TaxId3",							"")><!--- SSN 4 --->
	<cfset LoadBldO("SSN2",									"")><!--- Logical Group for next 3 fields --->
	<cfset LoadBldO(	"TaxId4",							"")><!--- Re-enter SSN 3 --->
	<cfset LoadBldO(	"TaxId5",							"")><!--- Re-enter SSN 2 --->
	<cfset LoadBldO(	"TaxId6",							"")><!--- Re-enter SSN 4 --->
	<cfset LoadBldO("LoanNmb",								"")><!--- LoanNmb --->
	<!--- Bond Holder --->
	<cfset LoadBldO("DUNS",									"")><!--- DUNS --->
	<cfset LoadBldO("EIN1",									"")><!--- Logical Group for next 2 fields --->
	<cfset LoadBldO(	"TaxId7",							"")><!--- EIN 2 --->
	<cfset LoadBldO(	"TaxId8",							"")><!--- EIN 7 --->
	<cfset LoadBldO("EIN2",									"")><!--- Logical Group for next 2 fields --->
	<cfset LoadBldO(	"TaxId9",							"")><!--- Re-enter EIN 2 --->
	<cfset LoadBldO(	"TaxIda",							"")><!--- Re-enter EIN 7 --->

	<!--- Array for communication between dsp page and act page. Won't be used if this is a ReadOnlyProfile. --->

	<cfset LoadOrig("ArrayColsOnDspPage",					ArrayNew(1))>

	<!--- Done loading from database/nullstring, but may still append to ArrayColsOnDspPage. See Defaults UDF. --->

	<cfif Variables.BldOrigs_SelfTestMode>
		<!--- In self-test mode, no sense in saving Variables.Origs to Session. Just a waste of memory. --->
	<cfelse>
		<!--- Don't StructAppend(Variables, Variables.Origs, "Yes") here. (LoadOrig defines all values in Variables too.) --->
		<cfset Variables.IMUserDOBDt						= Variables.DispIMUserDOBDt>
		<cfset Variables.IMUserPhnLclNmb					= Variables.DispIMUserPhnLclNmb>
		<cfset Variables.LINCInd							= Variables.DispLINCInd>
		<!--- We don't need to do this for GetUBus "Disp" variables because infoassociated refs them directly. --->
	</cfif>

</cfif><!--- /TxtErr --->

<!--- ************************************************************************************************************ --->

<cfif Variables.BldOrigs_SelfTestMode>
	<!--- Display results when called in self-test mode: --->
	<cfif Variables.TxnErr>
		<cfoutput>
<p>
	#Variables.ErrMsg#
</p>
</cfoutput>
		<!---
		The entire Variables scope may seem like a bit much, but we always want as much info as possible in this situation. 
		(Since TxnErr happened, we're debugging!) Also, no other scopes hold much interest in self-test mode. 
		--->
		<cfdump var="#Variables#"				label="Variables"	expand="No">
	<cfelse>
		<cfif IsDefined("Variables.GetUser")>
			<cfdump var="#Variables.GetUser#"	label="GetUser"		expand="No">
		</cfif>
		<cfif IsDefined("Variables.GetUBus")>
			<cfdump var="#Variables.GetUBus#"	label="GetUBus"		expand="No">
		</cfif>
		<cfif IsDefined("Variables.GetLogn")>
			<cfdump var="#Variables.GetLogn#"	label="GetLogn"		expand="No">
		</cfif>
		<cfif IsDefined("Variables.GetCred")>
			<cfdump var="#Variables.GetCred#"	label="GetCred"		expand="No">
		</cfif>
		<cfif IsDefined("Variables.GetFedU")>
			<cfdump var="#Variables.GetFedU#"	label="GetFedU"		expand="No">
		</cfif>
		<cfif IsDefined("Variables.GetTitl")>
			<cfdump var="#Variables.GetTitl#"	label="GetTitl"		expand="No">
		</cfif>
		<cfif NOT IsDefined("Defaults")>
			<cfinclude template="bld_DefaultsUDF.cfm"><!--- For now, same directory as this file. --->
		</cfif>
		<cfoutput>
<style>
b.emphasized
	{
	background-color:	##ffc;
	color:				##900;
	text-decoration:	underline;
	}
</style>
<pre>
</cfoutput>
			<cfset Variables.IMUserFirstNm					= "Steve">
			<cfset Defaults("IMUserFirstNm", "FirstName", "First name", "mand", "")>
			<!--- Begin tests. --->
			<cfoutput>
Defaults("IMUserFirstNm", "FirstName", "First name", "mand", ""): 

    Variables.Eng            = <b class="emphasized">#Variables.Eng#</b>
    Variables.Label          = <b class="emphasized">#Replace(Variables.Label, "<", "&lt;", "All")#</b>
    Variables.MandOpt        = <b class="emphasized">#Variables.MandOpt#</b>
    Variables.NameAndId      = <b class="emphasized">#Variables.NameAndId#</b>
    Variables.NameIdAndValue = <b class="emphasized">#Variables.NameIdAndValue#</b>
    Variables.VarName        = <b class="emphasized">#Variables.VarName#</b>
    Variables.VarValue       = <b class="emphasized">#Variables.VarValue#</b>

</cfoutput>
			<cfset Variables.IMUserMiddleNm					= "Middy">
			<cfset Defaults("IMUserMiddleNm", "MiddleName", "Middle name", "view", "")>
			<cfoutput>
Defaults("IMUserMiddleNm", "MiddleName", "Middle name", "view", ""):

    Variables.Eng            = <b class="emphasized">#Variables.Eng#</b>
    Variables.Label          = <b class="emphasized">#Replace(Variables.Label, "<", "&lt;", "All")#</b>
    Variables.MandOpt        = <b class="emphasized">#Variables.MandOpt#</b>
    Variables.NameAndId      = <b class="emphasized">#Variables.NameAndId#</b>
    Variables.NameIdAndValue = <b class="emphasized">#Variables.NameIdAndValue#</b>
    Variables.VarName        = <b class="emphasized">#Variables.VarName#</b>
    Variables.VarValue       = <b class="emphasized">#Variables.VarValue#</b>

</cfoutput>
			<cfset Variables.IMUserLastNm					= "Seaquist">
			<cfset Defaults("IMUserLastNm", "LastName", "Last name", "reqd", "")>
			<cfoutput>
Defaults("IMUserLastNm", "LastName", "Last name", "reqd", ""): 

    Variables.Eng            = <b class="emphasized">#Variables.Eng#</b>
    Variables.Label          = <b class="emphasized">#Replace(Variables.Label, "<", "&lt;", "All")#</b>
    Variables.MandOpt        = <b class="emphasized">#Variables.MandOpt#</b>
    Variables.NameAndId      = <b class="emphasized">#Variables.NameAndId#</b>
    Variables.NameIdAndValue = <b class="emphasized">#Variables.NameIdAndValue#</b>
    Variables.VarName        = <b class="emphasized">#Variables.VarName#</b>
    Variables.VarValue       = <b class="emphasized">#Variables.VarValue#</b>

</cfoutput>
			<cfset Variables.ReadOnlyProfile				= "Yes">
			<cfset Variables.IMUserSuffixNm					= "(Dragonslayer)">
			<cfset Defaults("IMUserSuffixNm", "NameSuffix", "Name suffix", "opt", "")>
			<cfset Variables.ReadOnlyProfile				= "No">
			<cfoutput>
<b class="emphasized">(Note: ReadOnlyProfile temprarily set to "Yes".)</b>

Defaults("IMUserSuffixNm", "NameSuffix", "Name suffix", "opt", ""): 

    Variables.Eng            = <b class="emphasized">#Variables.Eng#</b>
    Variables.Label          = <b class="emphasized">#Replace(Variables.Label, "<", "&lt;", "All")#</b>
    Variables.MandOpt        = <b class="emphasized">#Variables.MandOpt#</b>
    Variables.NameAndId      = <b class="emphasized">#Variables.NameAndId#</b>
    Variables.NameIdAndValue = <b class="emphasized">#Variables.NameIdAndValue#</b>
    Variables.VarName        = <b class="emphasized">#Variables.VarName#</b>
    Variables.VarValue       = <b class="emphasized">#Variables.VarValue#</b>

</cfoutput>
			<!--- End tests, so close out pre. --->
			<cfoutput>
</pre>
</cfoutput>
		<cfif IsDefined("Variables.Origs")>
			<cfdump var="#Variables.Origs#"		label="Origs"		expand="No">
		</cfif>
	</cfif><!--- /TxnErr --->
	<!--- Could only be looking at dev or test data in self-test mode, so it's okay not to turn off showdebugoutput. --->
	<cfabort>
</cfif><!--- /BldOrigs_SelfTestMode --->

<!--- Cleanup when called by cfinclude: --->

<cfset Variables.cfpra										= ""><!--- Very important!! (SPC files give cfpra priority.) --->
<cfset Variables.db											= Variables.BldOrigs_hold_db>
<cfset Variables.password									= Variables.BldOrigs_hold_password>
<cfset Variables.username									= Variables.BldOrigs_hold_username>
