<!---
AUTHOR:				Steve Seaquist, Trusted Mission Solutions, Inc. 
DATE:				03/06/2008
DESCRIPTION:		Shared routine to copy Variables.CLS into Session.CLS and assorted other Session variable names. 
NOTES:				New apps should only be using the GLS structure and its substructures, not those assorted other 
					Session variables. At some point, we would like to have only Session.CLS in the Session scope, 
					but we can't do that as long as people keep assuming that its substructures are also defined. 
INPUT:				Variables.CLS. 
OUTPUT:				Session.CLS and other Session variables (for now). 
REVISION HISTORY:	03/06/2008, SRS:	Original Implementation. 
--->

<cflock scope="SESSION" type="EXCLUSIVE" timeout="30">
	<cfset Session.CLS								= Duplicate(Variables.CLS)>
	<cfloop index="Level1Key"						list="#StructKeyList(Variables.CLS)#">
		<cfif IsStruct(Variables.CLS[Level1Key])>
			<cfset "Session.#Level1Key#"			= Duplicate(Variables.CLS[Level1Key])>
			<cfloop index="Level2Key"				list="#StructKeyList(Variables.CLS[Level1Key])#">
				<cfset "Session.#Level2Key#"		= Variables.CLS[Level1Key][Level2Key]>
			</cfloop>
		<cfelse>
			<cfset "Session.#Level1Key#"			= Variables.CLS[Level1Key]>
		</cfif>
	</cfloop>
</cflock>
