<cfinclude template="get_FVal.cfm">
<cfif Len(Variables.FVal) GT 0>
	<cfif (Variables.FVal IS NOT "M") AND (Variables.FVal IS NOT "B")>
		<cfset Variables.ErrMsg		= "#Variables.ErrMsg# <li>#Variables.FName# must be ""M"" or ""B"".</li>">
	</cfif>
</cfif>
