/*
AUTHOR:				Steve Seaquist, Trusted Mission Solutions, Inc., for the US Small Business Administration. 
DATE:				08/08/2011
DESCRIPTION:		Shared CSS classes for Main Navigation region *** USING STRICT MODE ***. 
NOTES:

	This file contains all styles used by the cf_mainnav custom tag. Restricting usage to the custom tag will make this 
	file largely static in the future. 

INPUT:				None. 
OUTPUT:				Shared CSS classes for Main Navigation region *** USING STRICT MODE ***. 
REVISION HISTORY:	01/04/2016, SRS:	Added support for MainNavMenu and its classes. 
					12/01/2015, SRS:	Added th1 as an override of default, now called Home Page Theme. 
					11/09/2015, SRS:	Reworked lots of stuff to be "themeable" and simpler because we no longer have 
										to support MSIE 8: Got rid of files for quirks mode, which we haven't generated 
										in over 4 years, to relieve that maintenance burden. As part of moving functionality 
										to buttonbar, hid buttons for Exit, Help and Print (part of SMJ's effort). 
					03/04/2015, SRS:	Made the color scheme considerably lighter, colors chosen by team consensus. 
					06/29/2012, SRS:	Made divmainnavsubmit divs use inlineblock, so that it can vary according to MSIE 8+ 
										boundary, not MSIE 10+ boundary. (Solves "the margin-bottom problem".) 
					04/18/2012, SRS:	Added -ms- prefixes with comments as to when they'll start working. Since linear 
										gradient won't start working till MSIE 10, we have to keep using CSS3PIE till then. 
					08/08/2011, SRS:	Original implementation. Cannibalized existing sba.css. 
*/

#DivMainNavButtons
	{/* Offset buttons from the darkest top bar of background.bluesteel.png (in graphics mode) to avoid overlaying SkipLinks: */
	position:							absolute;
	top:								11px;
	right:								0px;
	bottom:								0px;
	left:								0px;
	border:								0px;
	margin:								0px;
	padding:							0px;
	overflow:							hidden;
	}

/* Classes associated with MainNav contents, begins. */

.mainnavexternalsys
	{
	margin:								0px;
	padding:							.2em .4em .2em .4em;
	color:								#000;
	font-size:							10pt;
	font-weight:						bold;
	text-decoration:					none;
	/* No text-shadow because it makes blue-on-white text illegible. */
	/* Shadow property values are x-offset (h), y-offset (v), thickness and color, respectively. */
	border:								1px solid #000;
	-webkit-border-radius:				.7em;
	-moz-border-radius:					.7em;
	border-radius:						.7em; /* msie 9+ */
	/* Shadow property values are x-offset (h), y-offset (v), thickness and color, respectively. */
	-webkit-box-shadow:					2px 2px 3px #999;
	-moz-box-shadow:					2px 2px 3px #999;
	box-shadow:							2px 2px 3px #999; /* msie 9+ */
	background-color:					#fff;
	background-image:					-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc),color-stop(0.4, #aaa));
	background-image:					-moz-linear-gradient(#eee, #aaa, #ccc);
	background-image:					-ms-linear-gradient(#eee, #aaa, #ccc); /* msie 10+ */
	background-image:					linear-gradient(#eee, #aaa, #ccc);
	}
.mainnavexternalsys:hover,
.mainnavexternalsys:focus
	{
	color:								#009;
	}
.mainnavsubmit
	{
	margin:								0px;
	padding:							.2em .4em .2em .4em;
	color:								#fff;
	font-size:							10pt;
	font-weight:						bold;
	text-decoration:					none;
	/* Shadow property values are x-offset (h), y-offset (v), thickness and color, respectively. */
	text-shadow:						1px 1px 1px #000;
	border:								1px solid #000;
	-webkit-border-radius:				.7em;
	-moz-border-radius:					.7em;
	border-radius:						.7em; /* msie 9+ */
	/* Shadow property values are x-offset (h), y-offset (v), thickness and color, respectively. */
	-webkit-box-shadow:					2px 2px 3px #999;
	-moz-box-shadow:					2px 2px 3px #999;
	box-shadow:							2px 2px 3px #999; /* msie 9+ */
	background-color:					#0040ce;
	background-image:					-webkit-gradient(linear, left top, left bottom, from(#e8ede9), to(#0040ce),color-stop(0.4, #001b8c));/* should be blue,color-stop(0.4, #1b0b8c) */
	background-image:					-moz-linear-gradient(#e8ede9, #001b8c, #0040ce);
	background-image:					-ms-linear-gradient(#e8ede9, #001b8c, #0040ce); /* msie 10+ */
	background-image:					linear-gradient(#e8ede9, #001b8c, #0040ce);
	}
.mainnavsubmit:hover,
.mainnavsubmit:focus
	{
	color:								#ff0;
	background-color:					#40ce1c;
	background-image:					-webkit-gradient(linear, left top, left bottom, from(#ede9e8), to(#40ce1c),color-stop(0.4, #1b8c0b));
	background-image:					-moz-linear-gradient(#ede9e8, #1b8c0b, #40ce1c);
	background-image:					-ms-linear-gradient(#ede9e8, #1b8c0b, #40ce1c); /* msie 10+ */
	background-image:					linear-gradient(#ede9e8, #1b8c0b, #40ce1c);
	}
.mainnavsubmit[title=Exit],
.mainnavsubmit[title=Help],
.mainnavsubmit[title=Print]
	{
	display:							none;
	}
body.th6 .mainnavexternalsys,
body.th6 .mainnavsubmit
	{/* th6 is Text-Only Black and White */
	background-color:					transparent;
	background-image:					none;
	-pie-background-color:				transparent;
	-pie-background:					none;
	border:								none;
	-webkit-border-radius:				0;
	-moz-border-radius:					0;
	-pie-border-radius:					0;
	border-radius:						0;
	-webkit-box-shadow:					none;
	-moz-box-shadow:					none;
	-pie-box-shadow:					none;
	box-shadow:							none;
	color:								#000;
	text-shadow:						none;
	}
body.th6 .mainnavsubmit:hover,
body.th6 .mainnavsubmit:focus
	{/* th6 is Text-Only Black and White */
	color:								#03f;
	background-color:					transparent;
	background-image:					none;
	-pie-background-color:				transparent;
	-pie-background:					none;
	}
.divmainnavsubmit
	{
	margin:								0px 2px 5px 0px;/* Buttons too squished together. */
	display:							2px solid transparent;
	}
.divmainnavsubmithover	/* Can't use :hover because MSIE doesn't support :hover except on hotlinks. This uses jQuery instead. */
	{
	margin:								0px 2px 5px 0px;/* Buttons too squished together. */
	display:							2px solid #40ce1c;
	}
/* MainNav region's background: */
.headernav
	{/* Normally, you should leave MainNav coloring to cf_mainnav, because it will handle TextOnly for you. */
	background-image:					url(/library/images/sbalookandfeel/envelopetop/gradient.blue.png);
	background-repeat:					repeat-x;
	}
body.th1 .headernav,
body.th1.headernav
	{/* th1 is Home Page Theme */
	background-color:					#0071bc;
	background-image:					none;
	}
body.th2 .headernav,
body.th2.headernav
	{/* th2 is Gray Theme */
	background-image:					url(/library/images/sbalookandfeel/envelopetop/gradient.gray.png);
	}
body.th3 .headernav,
body.th3.headernav
	{/* th3 is Breast Cancer Awareness Month Pink */
	background-image:					url(/library/images/sbalookandfeel/envelopetop/gradient.pink.png);;
	}
body.th4 .headernav,
body.th4.headernav
	{/* th4 is Financial Green */
	background-image:					url(/library/images/sbalookandfeel/envelopetop/gradient.green.png);
	}
body.th5 .headernav,
body.th5.headernav
	{/* th5 is Sheri's Pale Blue */
	background-image:					url(/library/images/sbalookandfeel/envelopetop/gradient.blue.png);
	}
body.th6 .headernav,
body.th6.headernav
	{/* th6 is Text-Only Black and White */
	background-color:					#fff;
	background-image:					none;
	}
#DivReadyLight
	{
	position:							absolute;
	top:								auto;
	right:								3px;
	bottom:								3px;
	height:								25px;	/* Determines bottom. */
	width:								65px;	/* Determines left. */
	line-height:						25px;	/* Middle-aligns text (but only text), because same as ReadyLight height. */
	padding:							2px;
	font-size:							12pt;
	text-align:							right;
	}
.ReadyLightLoading
	{
	background-color:					#fff;
	}
.ReadyLightReady
	{
	color:								#9ac;
	font-weight:						900;	/* Essentially, "boldest". */
	}
body.th1 .ReadyLightReady,
body.th2 .ReadyLightReady
	{/* th2 is OCIO Classic Theme */
	color:								#9d9;
	}
body.th3 .ReadyLightReady
	{/* th3 is Breast Cancer Awareness Month Pink */
	color:								#c9a;
	}
body.th4 .ReadyLightReady
	{/* th4 is Financial Green */
	color:								#9ca;
	}
body.th6 .ReadyLightReady
	{/* th6 is Text-Only Black and White Theme */
	color:								#ccc;
	}


/* ----------------------------------------------------------------------------------------------------------------------- */
/* MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu */
/* MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu */
/* MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu */
/* MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu */
/* MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu MainNavMenu */
/* ----------------------------------------------------------------------------------------------------------------------- */


body		#DivMainNav,
body		#DivMainNavButtons.contains_menus
	{
	overflow:												visible;	/* Because of frame-to-inline. */
	}
body		#DivMainNavMenu
	{
	background-color:										rgba(32,191,231,0.0); /* For lightly transparent, 0.2 */
	position:												absolute;
		height:												1.2em;		/* Determines top. Matches label.menu. */
		right:												auto;
		bottom:												0px;
		left:												53px;
	overflow:												visible;	/* Because of frame-to-inline. */
	padding:												2px;
	}
body.th6	#DivMainNavMenu
	{
	background-color:										transparent;
	}

/* Offscreen checkbox to make controls and menus stateful: */

body		#DivMainNavMenu input.menu
	{
	/* For some reason, **NONE** of this prevents Flash Of Unstyled Content (FOUC). Using style="display:none;" in the HTML instead. */
	display:												none;
	position:												absolute;
		left:												-9999px;
	}

/* The menu control. UNSELECTED/DEFAULT: */

body		#DivMainNavMenu label.link,
body		#DivMainNavMenu label.link a,
body		#DivMainNavMenu label.menu
	{
	color:													black;
	display:												table-cell;
	font-family:											Merriweather, serif;
	font-size:												18px;
	height:													1.2em;
	/* position:relative without top or left = "establish this element as offsetParent of div.menu": */
	position:												relative;
	text-decoration:										none;/* affects only the "label.link a" case. */
	vertical-align:											middle;
	white-space:											nowrap;
	}
body		#DivMainNavMenu label.menu:after
	{
	position:												absolute;
	margin-top:												-.35rem;
	margin-left:											0.5rem;
	font-size:												1.5rem;
	font-family:											initial;
	content:												"›";
	transform:												rotate(90deg);
	}
body.th1	#DivMainNavMenu label.link a,
body.th2	#DivMainNavMenu label.link a,
body.th1	#DivMainNavMenu label.menu,
body.th2	#DivMainNavMenu label.menu
	{
	color:													white;
	}

/* The menu control. SELECTED: */

body		#DivMainNavMenu input.menu:checked + label.menu
	{
	background-color:										#0071bc;
	color:													#f1f1f1;
	}

/* The menu itself. UNSELECTED/DEFAULT: */

body		#DivMainNavMenu label.menu div.menu
	{
	background-color:										white;
	border:													1px solid black;
	color:													black;
	display:												none;
	padding:												5px;
	position:												absolute;
		top:												1.2em;
		left:												0px;
	white-space:											nowrap;
	/*
	Because cf_sbalookandfeel generates DivMainNav before DivAppData, and because DivAppData has z-index:9, 
	the default of z-index:auto won't suffice for DOM descendents of DivMainNav that must pop up over DivAppData. 
	Note that the z-index here doesn't have to be huge. It just has to be bigger than #DivAppData's z-index of 9. 
	*/
	z-index:												15;
	}
body		#DivMainNavMenu label.menu div.menu a,
body		#DivMainNavMenu label.menu div.menu span.menu
	{
	display:												block;/* Makes white-space "hot" (clickable). */
	font-family:											"Source Sans Pro", "Helvetica", "Arial", sans-serif;
	overflow:												hidden;
	text-overflow:											ellipsis;
	padding:												0.5rem;
	color:													#333;
	font-size:												13px; /*new*/
	}
body		#DivMainNavMenu label.menu div.menu a:after,
body		#DivMainNavMenu label.menu div.menu span:after
	{
	content:												"\A";
	white-space:											pre;
	}
body.th1	#DivMainNavMenu label.menu div.menu a.menuitem,
body.th2	#DivMainNavMenu label.menu div.menu a.menuitem
	{
	color:													black;
	}

/* The menu itself. SELECTED: */

body		#DivMainNavMenu input.menu:checked + label.menu div.menu
	{
	background-color:										white;	/* Have to undo highlighting of control, because menu picks it up. */
	color:													black;	/* Have to undo highlighting of control, because menu picks it up. */
	display:												inline-block;
	}

/* Because MainNavMenu is now stateful, the CONTENTS of menus (a and span) are the only places where it makes sense to use :hover and :focus. */

body		#DivMainNavMenu label.link a:hover
	{
	color:													blue;	/* A menu.link only changes color while you mouse over it. */
	}

body		#DivMainNavMenu label.menu div.menu a:hover,
body		#DivMainNavMenu label.menu div.menu a:focus
	{
	box-shadow:												inset 0 -4px 0 #fdb81e;
	text-decoration:										none;
	transition:												all .2s cubic-bezier(.33,.66,.66,1);
	}
body		#DivMainNavMenu label.menu div.menu a:hover
	{
	color:													#0071bc; /*#1E90FF;#0033CC;*/
	}
body.th1	#DivMainNavMenu label.menu div.menu a.menuitem:hover,
body.th2	#DivMainNavMenu label.menu div.menu a.menuitem:hover
	{
	color:													#0071bc;
	}

/* Miscellaneous: */

body		#DivMainNavMenu div.tbl_cell.first
	{
	width:													15px;
	}
body		#DivMainNavMenu div.tbl_cell.spacer
	{
	width:													30px;
	}

