/*
AUTHOR:				Steve Seaquist, Trusted Mission Solutions, Inc, for the US Small Business Administration. 
DATE:				07/10/2009
DESCRIPTION:		Shared CSS classes for SBA Look-and-Feel elements that must be reversed if JavaScript is off. 
NOTES:

	In case the user has turned JavaScript off in their browser, link in this file after sba.css, like this: 

	(link rel="stylesheet"		href="/library/css/sba.css"				media="all")
	(noscript)
		(link rel="stylesheet"	href="/library/css/sba.noscript.css"	media="all")
	(/noscript)

INPUT:				None. 
OUTPUT:				Shared CSS classes for SBA Look-and-Feel elements that must be reversed if JavaScript is off. 
REVISION HISTORY:	07/10/2009, SRS:	Original implementation. 
*/

/* Reverse the effects of these classes, because JavaScript is off: */

.rte								{visibility: visible		!important;}/* Can't become an FCKEditor if JS is off. */

.HideUntilAllFullyLoadedBlock		{display: block				!important;}
.HideUntilAllFullyLoadedInline		{display: inline			!important;}
.HideUntilAllFullyLoadedInlBlk		{display: inline-block		!important;}
.HideUntilAllFullyLoadedInlTbl		{display: inline-table		!important;}
.HideUntilAllFullyLoadedTblRow		{display: table-row			!important;}
.HideUntilAllFullyLoadedTblRowGrp	{display: table-row-group	!important;}
.ShowUntilAllFullyLoadedBlock		{display: none				!important;}
.ShowUntilAllFullyLoadedInline		{display: none				!important;}
.ShowUntilAllFullyLoadedInlBlk		{display: none				!important;}
.ShowUntilAllFullyLoadedInlTbl		{display: none				!important;}
.ShowUntilAllFullyLoadedTblRow		{display: none				!important;}
.ShowUntilAllFullyLoadedTblRowGrp	{display: none				!important;}

/* Fine grain control of what gets hidden: */

.HideIfJavaScriptOffBlock			{display: none				!important;}
.HideIfJavaScriptOffInline			{display: none				!important;}
.HideIfJavaScriptOffInlBlk			{display: none				!important;}
.HideIfJavaScriptOffInlTbl			{display: none				!important;}
.HideIfJavaScriptOffTblCell			{display: none				!important;}
.HideIfJavaScriptOffTblRow			{display: none				!important;}
.HideIfJavaScriptOffTblRowGrp		{display: none				!important;}
.HideIfJavaScriptOnBlock			{display: block				!important;}
.HideIfJavaScriptOnInline			{display: inline			!important;}
.HideIfJavaScriptOnInlBlk			{display: inline-block		!important;}
.HideIfJavaScriptOnInlTbl			{display: inline-table		!important;}
.HideIfJavaScriptOnTblCell			{display: table-cell		!important;}
.HideIfJavaScriptOnTblRow			{display: table-row			!important;}
.HideIfJavaScriptOnTblRowGrp		{display: table-row-group	!important;}

/* Fine grain control of what gets displayed: */

.ShowIfJavaScriptOffBlock			{display: block				!important;}
.ShowIfJavaScriptOffInline			{display: inline			!important;}
.ShowIfJavaScriptOffInlBlk			{display: inline-block		!important;}
.ShowIfJavaScriptOffInlTbl			{display: inline-table		!important;}
.ShowIfJavaScriptOffTblCell			{display: table-cell		!important;}
.ShowIfJavaScriptOffTblRow			{display: table-row			!important;}
.ShowIfJavaScriptOffTblRowGrp		{display: table-row-group	!important;}
.ShowIfJavaScriptOnBlock			{display: none				!important;}
.ShowIfJavaScriptOnInline			{display: none				!important;}
.ShowIfJavaScriptOnInlBlk			{display: none				!important;}
.ShowIfJavaScriptOnInlTbl			{display: none				!important;}
.ShowIfJavaScriptOnTblCell			{display: none				!important;}
.ShowIfJavaScriptOnTblRow			{display: none				!important;}
.ShowIfJavaScriptOnTblRowGrp		{display: none				!important;}
