/*
AUTHOR:				Steve Seaquist, Trusted Mission Solutions, Inc., for the US Small Business Administration. 
DATE:				10/21/2010
DESCRIPTION:		CSS classes for the SBA's new Left-Side Navigation Tree. 
NOTES:				None. 
INPUT:				None. 
OUTPUT:				CSS classes for the SBA's new Left-Side Navigation Tree. 
REVISION HISTORY:	01/12/2016, SRS:	Our new default font (body, th, td), "Source Sans Pro", makes #sbatree, .stihigh 
										and .stilink's 9pt look too small. Bumped them up to 10pt. But don't change the 
										.stito classes, because they're precisely aligned for text-only mode. (That's what 
										the "to" part of "stito" means.) 
					12/01/2015, SRS:	Added th1 as an override of default, now called Home Page Theme. 
					10/09/2015, SRS:	Reworked lots of stuff to be "themeable". For cf_sbatree, that meant changing 
										all of the image tags (with src) to divs with CSS classes that loaded the same 
										URL as the background-image. This allowed dynamically switching to Text-Only 
										mode, which is now body.th6. So, so, cool. 
					03/04/2015, SRS:	Made the color scheme considerably lighter, colors chosen by team consensus. 
					10/19-21/2010, SRS:	Original implementation. 
*/

#sbatree
	{
	background-color:					#acf;
	color:								#000;
	font-size:							10pt;
	font-weight:						bold;
	padding:							1px;
	}
body.th1 #sbatree
	{/* th1 is Home Page Theme */
	color:								#ccc;
	background-color:					#0071bc;
	}
body.th2 #sbatree
	{/* th2 is OCIO Classic Theme */
	color:								#fff;
	background-color:					#7086a9;/* Was #059. Is now rgb(112,134,169) = bottommost, darkest pixel of gradient.gray.png. */
	}
body.th3 #sbatree
	{/* th3 is Breast Cancer Awareness Month Pink */
	background-color:					#fac;
	}
body.th4 #sbatree
	{/* th4 is Financial Green */
	background-color:					#afc;
	}
body.th5 #sbatree
	{/* th5 is Sheri's Pale Blue */
	background-color:					#F0F7FF;
	}
body.th6 #sbatree
	{/* th6 is Text-Only Black and White Theme */
	background-color:					#fff;
	}

#sbatree		img
	{
	border:								0px;
	margin:								0px 0px 0px -3px;
	padding:							0px;
	}

#sbatreeexpandcollapse
	{
	border:								1px solid black;
	text-align:							center;
	width:								192px;
	}
body.th1 #sbatreeexpandcollapse,
body.th2 #sbatreeexpandcollapse
	{/* th2 is OCIO Classic Theme */
	border:								1px solid white;
	}

/* Namespace convention: "sti" is short for "sbatreeitem". (It appears a lot, so it saves a lot to shorten it.) */

.stihigh
	{
	color:								#ff0;	/* Difference from stilink: It's pre-highlighted and stays that way. */
	font-size:							10pt	!important;/* Important to override html, body, td, etc, without having to repeat all those selectors. */
	font-weight:						bold;
	text-decoration:					none;
	}

.stilink
	{
	color:								#000;
	font-size:							10pt	!important;/* Important to override html, body, td, etc, without having to repeat all those selectors. */
	font-weight:						bold;
	text-decoration:					none;
	}
body.th1 .stilink,
body.th2 .stilink
	{/* th2 is OCIO Classic Theme */
	color:								#fff;
	}

.stilink:focus,
.stilink:hover
	{
	color:								#03f;
	text-decoration:					underline;
	}
body.th1 .stilink:hover,
body.th1 .stilink:focus,
body.th2 .stilink:hover,
body.th2 .stilink:focus
	{/* th2 is OCIO Classic Theme */
	color:								#ff0;
	}
body.th3 .stilink:hover,
body.th3 .stilink:focus
	{/* th3 is Breast Cancer Awareness Month Pink */
	color:								#900;
	}
body.th4 .stilink:hover,
body.th4 .stilink:focus
	{/* th4 is Financial Green */
	color:								#090;
	}
body.th5 .stilink:focus,
body.th5 .stilink:hover
	{/* th5 is Sheri's Pale Blue */
	color:								#004080;
	}

.stilink:active
	{
	color:								#090;
	}
body.th1 .stilink:active,
body.th2 .stilink:active
	{/* th2 is OCIO Classic Theme */
	color:								#ffc;
	}
body.th3 .stilink:active
	{/* th3 is Breast Cancer Awareness Month Pink */
	color:								#f00;
	}
body.th4 .stilink:active
	{/* th4 is Financial Green */
	color:								#0f0;
	}
body.th5 .stilink:active
	{/* th5 is Sheri's Pale Blue */
	color:								#0f0;
	}

.stirow
	{
	border:								0px;
	height:								22px;
	margin:								0px;
	overflow:							hidden;
	padding:							0px 0px 0px 3px;
	position:							relative;
	white-space:						nowrap;
	}

.stitext
	{
	position:							relative;
	top:								-0.5em;/* -6px is also nice. */
	left:								-5px;
	}
body.th6 .stitext
	{
	top:								-3px;
	left:								0px;
	}

/* Namespace add-on: "to" is short for "textonly". (It appears a lot, so it saves a lot to shorten it.) */

.stitopm
	{
	background-color:					#36c;
	border:								1px solid white;
	font-family:						"Courier New", Courier, Monaco, monospace;
	font-size:							8pt		!important;/* Important to override html, body, td, etc, without having to repeat all those selectors. */
	font-weight:						bold;
	height:								12px;
	margin:								0px 4px 0px 0px;
	padding:							0px;
	text-align:							center;
	width:								1em;
	}

.stitochar
	{
	border:								1px solid transparent;
	font-family:						"Courier New", Courier, Monaco, monospace;
	font-size:							9pt		!important;/* Important to override html, body, td, etc, without having to repeat all those selectors. */
	height:								12px;
	margin:								0px 4px 0px 0px;
	text-align:							left;
	width:								1em;
	}

.stitorow
	{
	border:								0px;
	height:								18px;
	margin:								0px;
	overflow:							hidden;
	padding:							0px 0px 0px 3px;
	white-space:						nowrap;
	}

.stii_blank			{display:inline-block;width:16px;height:22px;background-image:url(/library/images/sbatree/sbawblank.gif);}
.stii_doc			{display:inline-block;width:24px;height:22px;background-image:url(/library/images/sbatree/sbawdoc.gif);}
.stii_folderclosed	{display:inline-block;width:24px;height:22px;background-image:url(/library/images/sbatree/sbawfolderclosed.gif);}
.stii_folderopen	{display:inline-block;width:24px;height:22px;background-image:url(/library/images/sbatree/sbawfolderopen.gif);}
.stii_lastnode		{display:inline-block;width:16px;height:22px;background-image:url(/library/images/sbatree/sbawlastnode.gif);}
.stii_link			{display:inline-block;width:24px;height:22px;background-image:url(/library/images/sbatree/sbawlink.gif);}
.stii_mlastnode		{display:inline-block;width:16px;height:22px;background-image:url(/library/images/sbatree/sbawmlastnode.gif);}
.stii_mnode			{display:inline-block;width:16px;height:22px;background-image:url(/library/images/sbatree/sbawmnode.gif);}
.stii_node			{display:inline-block;width:16px;height:22px;background-image:url(/library/images/sbatree/sbawnode.gif);}
.stii_plastnode		{display:inline-block;width:16px;height:22px;background-image:url(/library/images/sbatree/sbawplastnode.gif);}
.stii_pnode			{display:inline-block;width:16px;height:22px;background-image:url(/library/images/sbatree/sbawpnode.gif);}
.stii_vertline		{display:inline-block;width:16px;height:22px;background-image:url(/library/images/sbatree/sbawvertline.gif);}
.stii_wideblank		{display:inline-block;width:24px;height:22px;background-image:url(/library/images/sbatree/sbawwideblank.gif);}

body.th4 .stii_blank,
body.th5 .stii_blank											{background-image:url(/library/images/sbatree/sbabblank.gif);}
body.th4 .stii_doc,
body.th5 .stii_doc												{background-image:url(/library/images/sbatree/sbabdoc.gif);}
body.th4 .stii_folderclosed,
body.th5 .stii_folderclosed										{background-image:url(/library/images/sbatree/sbabfolderclosed.gif);}
body.th4 .stii_folderopen,
body.th5 .stii_folderopen										{background-image:url(/library/images/sbatree/sbabfolderopen.gif);}
body.th4 .stii_lastnode,
body.th5 .stii_lastnode											{background-image:url(/library/images/sbatree/sbablastnode.gif?CachedAsOf=2015-10-15T19:27);}
body.th4 .stii_link,
body.th5 .stii_link												{background-image:url(/library/images/sbatree/sbablink.gif);}
body.th4 .stii_mlastnode,
body.th5 .stii_mlastnode										{background-image:url(/library/images/sbatree/sbabmlastnode.gif?CachedAsOf=2015-10-15T19:27);}
body.th4 .stii_mnode,
body.th5 .stii_mnode											{background-image:url(/library/images/sbatree/sbabmnode.gif?CachedAsOf=2015-10-15T19:27);}
body.th4 .stii_node,
body.th5 .stii_node												{background-image:url(/library/images/sbatree/sbabnode.gif?CachedAsOf=2015-10-15T19:27);}
body.th4 .stii_plastnode,
body.th5 .stii_plastnode										{background-image:url(/library/images/sbatree/sbabplastnode.gif?CachedAsOf=2015-10-15T19:27);}
body.th4 .stii_pnode,
body.th5 .stii_pnode											{background-image:url(/library/images/sbatree/sbabpnode.gif?CachedAsOf=2015-10-15T19:27);}
body.th4 .stii_vertline,
body.th5 .stii_vertline											{background-image:url(/library/images/sbatree/sbabvertline.gif?CachedAsOf=2015-10-15T19:27);}
body.th4 .stii_wideblank,
body.th5 .stii_wideblank										{background-image:url(/library/images/sbatree/sbabwideblank.gif);}

body.th6 .stii_blank,
body.th6 .stii_doc,
body.th6 .stii_folderclosed,
body.th6 .stii_folderopen,
body.th6 .stii_lastnode,
body.th6 .stii_link,
body.th6 .stii_mlastnode,
body.th6 .stii_mnode,
body.th6 .stii_node,
body.th6 .stii_plastnode,
body.th6 .stii_pnode,
body.th6 .stii_vertline,
body.th6 .stii_wideblank
	{background-image:none;text-align:center;vertical-align:middle;color:#000;font-size:8pt;}

body.th6 .stii_doc			span::before	{content: "d";}
body.th6 .stii_folderclosed	span::before	{content: "(+)";}
body.th6 .stii_folderopen	span::before	{content: "(-)";}
body.th6 .stii_lastnode		span::before	{content: "L";	text-align:right;}
body.th6 .stii_link			span::before	{content: "D";}
body.th6 .stii_mlastnode	span::before	{content: "L";	text-align:right;	color:magenta;}
body.th6 .stii_mnode		span::before	{content: "|";						color:magenta;}
body.th6 .stii_node			span::before	{content: "|";}
body.th6 .stii_plastnode	span::before	{content: "L";	text-align:right;	color:green;}
body.th6 .stii_pnode		span::before	{content: "|";						color:green;}
body.th6 .stii_vertline		span::before	{content: "|";}
