The following worked, but I couldn't get rid of the label for job titles when 0 were selected. 

	<!--- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ --->
	<cfset Defaults("IMUserTypCd",	"UserType",	"User Type",		"mand")>
	<cfset Variables.VarTypCd								= Variables.Var><!--- Needed for next field. --->
	<cfif Variables.MandOpt is not "skip">
		<cfset Variables.ListShowHideTypes					= ValueList(Variables.ActvIMUserTypTbl.code)>
		<cfloop index="Variables.TypCd" list="#Variables.ListShowHideTypes#">
			<cfif ListFindNoCase(Variables.DspOptsSkipList, Variables.TypCd) is 0><!--- Not on the skip list. --->
				<cfif Variables[Variables.Var] is Variables.TypCd>	<cfset Variables.Checked = "checked">
				<cfelse>											<cfset Variables.Checked = "       "></cfif>
				<cfoutput>
<input class="hide" type="radio" name="ShowHideType" id="Type#Variables.TypCd#" #Variables.Checked# value="#Variables.TypCd#">
<label for="Type#Variables.TypCd#"></label></cfoutput>
			</cfif>
		</cfloop>
	</cfif>

<style>
</cfoutput>

	<cfloop index="Variables.TypCd" list="#Variables.ListShowHideTypes#">
		<cfif ListFindNoCase(Variables.DspOptsSkipList, Variables.TypCd) is 0><!--- Not on the skip list. --->
			<cfoutput>
.Type#Variables.TypCd#
	{ /* Default is not to be shown: */
	display:												none;
	}
##Type#Variables.TypCd#:checked ~ .Type#Variables.TypCd#,	/* Siblings with that class. */
##Type#Variables.TypCd#:checked ~ * .Type#Variables.TypCd#	/* Siblings' descendents with that class. */
	{ /* Unless that Type is currently selected in the dropdown: */
	display:												inline-block;
	}</cfoutput>
		</cfif>
	</cfloop>
	<cfoutput>

</style>
