/* dsp_formdata_ldap.css
 *
 * NOTE: This file is linked in by dsp_formdata_ldap.cfm itself, so that it can be loaded only if needed. Therefore, 
 * don't include this file yourself in the calling page. The same goes for the dsp_formdata_ldap.js file. 
 */

#DivViewSuprvNames1 .viewdata,
#DivViewSuprvNames2 .viewdata
	{
	margin:								1px;
	padding:							2px 5px 2px 5px;
	}

#DivViewSuprvNames1 .hdr,
#DivViewSuprvNames2 .hdr
	{
	font-weight:						normal;
	}

#DivViewSuprvNames1 .dtl,
#DivViewSuprvNames2 .dtl
	{
	font-weight:						bold;
	}
