/* dsp_formdata_userroles.css
 *
 * NOTE: This file is linked in by dsp_formdata_userroles.cfm itself, so that it can be loaded only if needed. Therefore, 
 * don't include this file yourself in the calling page. The same goes for the dsp_formdata_userroles.js file. 
 */

div.cls_system							/* The row containing the system folder and system name. */
	{
	padding-top:						10pt;/* Folders for GLS System names are preceded by a blank line, in effect. */
	white-space:						nowrap;
	}

div.cls_system_box						/* Leftmost in cls_system row, inlineblock with the open or closed folder icon. */
	{
	width:								30px;
	}

div.cls_system_contents					/* Everything "owned" by the system, in rows following the cls_system row. */
	{
	padding-left:						30px;
	}

div.cls_role							/* The row containing the role checkbox and role name. */
	{
	white-space:						nowrap;
	}

div.cls_role_box						/* Leftmost in cls_role row, inlineblock with the role checkbox. */
	{
	width:								30px;
	}

div.cls_role_contents					/* Everything "owned" by the role, in rows following the cls_role row. */
	{
	padding-left:						30px;
	white-space:						nowrap;
	}

div.cls_role_privs
	{
	white-space:						nowrap;
	}

fieldset.cls_role_reqd					/* Override usual 10px before fieldsets, because these are inline. */
	{
	margin-top:							0px;
	}

fieldset.cls_role_reqd label
	{
	display:							none;
	}
