<!--- Assumes another val_file has been run before this one, hence no call to get_FVal.cfm. --->
<cfif Len(Variables.FVal) IS 0>
	<cfset Variables.ErrMsg			= "#Variables.ErrMsg# <li>#Variables.FName# is a mandatory field.</li>">
</cfif>
