<cfinclude template="get_FVal.cfm">
<cfif Len(Variables.FVal) GT 0>
	<cfif (Variables.FVal IS NOT "Y")>
		<cfset Variables.ErrMsg		= "#Variables.ErrMsg# <li>If given, #Variables.FName# must be ""Y"".</li>">
	</cfif>
</cfif>
