<cfinclude template="get_FVal.cfm">
<cfif Len(Variables.FVal) GT 0>
	<cfif (Variables.FVal IS NOT "Y") AND (Variables.FVal IS NOT "N")>
		<cfset Variables.ErrMsg		= "#Variables.ErrMsg# <li>#Variables.FName# must be ""Y"" or ""N"".</li>">
	</cfif>
</cfif>
