/*=== Eric Meyer Reset ===*/
@import url("/library/css/reset.css");

/*== Layout ==*/
/*== Comments Form ==*/
/*== Page-Specific Styles ==*/

/*== General Styles ==*/
body
{
	background-color:	#ffffff;
    color:				#000000;
    font-family:		Arial, Helvetica, sans-serif;
    font-size:			10pt;
	margin:				0px auto 0px auto;
}

h1
{
	color:			blue;
    font-family:	"Times New Roman", serif;
	font-size:		2em;
	font-weight:	bold;
	margin:			1em 0em 0em 0em;
	padding:		0em 0em 1.5em 0em;
}

h2
{
	display:		inline;
	color:			black;
	font-size:		1.5em;
	margin-top:		1em;
}

hr
{
	background-color:	red;
	color:				red;
	height:				1px;
	margin:				.5em 0em 1em 0em;
	width:				100%;
}

p
{
	margin-top:		1em;
}

table
{
	background-color:	white;
	margin-bottom:		.5em;
	width:				100%;
}

textarea
{
	height:		3em;
	width:		30em;
}

th
{
	font-weight:	bold;
}


/*== Header ==*/
table.header
{
	background-color:	#F7FBD1;
	padding:			1em 1em 1em 1em;
	margin-bottom:		2em;
}


/*== Footer ==*/
table.footer
{
	width:	100%;
}

table.footer td
{
	text-align:	right;
}


/*== Content ==*/
div.container
{
	background-color:	#FFFFFF;
	float:				none;
	margin:				7px auto 7px auto;
	overflow:			hidden;		/* This chops off any overhanging divs */
	text-align:			left;
	width:				100%;
}


/*== Other Styles ==*/
.submit
{
	margin:  auto;
	width:  5em;
}

.checkbox
{
    font-family:	Arial, Helvetica, sans-serif;
    font-size:		1em;
	margin-bottom:	0.25em;
}

table#tblQualifyHistory
{
	border-style:		none;
	border-collapse:	collapse;
	empty-cells:		hide;
	padding:			.5em .5em;
	width:				100%;
}

table#tblQualifyHistory th
{
	border:				solid #000000 1px;
	border-collapse:	collapse;
	padding:			.5em .5em;
	text-align:			center;
	vertical-align:		middle;
}

table#tblQualifyHistory td
{
	border:				solid #000000 1px;
	border-collapse:	collapse;
	padding:			.5em .5em;
}

.QualifyHistory input
{
	width:	5em;
}

.thshaded
{
	background-color:	#D9D9D9;
}

table#tblApplicantProfile
{
	margin:			auto;
	text-align:		left;
	padding:		0em;
	vertical-align:	middle;
	width:			100%;
}

table#tblApplicantProfile td
{
	text-align:		left;
	padding:		0em 0em 1em 0em;
	vertical-align:	middle;
	width:			50%;
}

table#tblApplicantProfile input
{
    font-family:	Arial, Helvetica, sans-serif;
	width:			30em;
}

table.tblMain
{
	margin:			auto;
	text-align:		left;
	padding:		0em;
	vertical-align:	middle;
	width:			100%;
}

td.td50
{
	text-align:		left;
	padding:		.5em .5em;
	vertical-align:	top;
	width:			50%;
}

td.tdEligibility1
{
	text-align:		left;
	padding:		1em 1em;
	vertical-align:	top;
	width:			75%;
}

td.tdEligibility2
{
	text-align:		left;
	padding:		1em 1em;
	vertical-align:	top;
	width:			25%;
}