<!--- Called by Custom Tags cf_sbalookandfeel and cf_mainnav. Must be in the sbalookandfeelincludes subdirectory. --->

<cfloop index="Button" list="#Variables.ListShowButtons#">
	<cfoutput>
<script language="JavaScript" src="#Attributes.MainNavJSURL#/Do#Button#.js"></script></cfoutput>
</cfloop>

<cfif (NOT Attributes.TextOnly) AND (Len(Variables.ListShowButtons) GT 0)>
	<cfoutput>
<script language="JavaScript">
<!--
</cfoutput>
	<cfset Variables.CurrIdx						= 0>
	<cfloop index="Button" list="#Variables.ListShowButtons#">
		<cfset Variables.CurrIdx					= Variables.CurrIdx + 1>
		<cfif ListFind(Variables.ListStdButtons, Button)>
			<cfset Variables.Dir					= "#Attributes.LibURL#/images/sbalookandfeel">
		<cfelse>
			<cfset Variables.Dir					= "#Attributes.LibURL#/images/applookandfeel">
		</cfif>
		<cfset Variables.Image						= ListGetAt(Variables.ListShowImages, CurrIdx)>
		<cfoutput>
var	g#Button#Lo	= new Image(48,25); g#Button#Lo.src	= "#Dir#/#Image#_lo.gif";
var	g#Button#Hi	= new Image(48,25); g#Button#Hi.src	= "#Dir#/#Image#_hi.gif";</cfoutput>
	</cfloop>
	<cfoutput>

// -->
</script>
</cfoutput>
</cfif><!--- (NOT Attributes.TextOnly) AND (Len(Variables.ListShowButtons) GT 0) --->
