<!---
AUTHOR:				Steve Seaquist, Trusted Mission Solutions, Inc., for the US Small Business Administration. 
DATE:				12/14/2010
DESCRIPTION:		Does a single query into Variables.Scq.((ScqQueryName)) for subsequent caching. 
NOTES:				Called by Library's cfincludes/bld_ServerCachedQueries and udf/bld_CachedQueryUDFs files.
INPUT:				Variables.db, Variables.dbtype, Variables.Sybase (inferred from dbtype), ScqQueryName. 
OUTPUT:				Variables.Scq.((ScqQueryName)) query object. Possibly ErrMsg and TxnErr. 
REVISION HISTORY:	08/07/2014, SRS:	Removed dbtype attribute for CF11 compatibility. 
					12/14/2010, SRS:	Original implementation. 
					11/27/2011, NS: changed order by to code
--->

<cfinclude template="bld_preprocessing.cfm">
<cfquery name="Variables.Scq.ActvLoanCollatTypCdTbl"	datasource="#Variables.db#">
select		LoanCollatTypCd,
			LoanCollatTypDescTxt,
			LoanCollatTypCd								AS code,
			LoanCollatTypDescTxt						AS description<cfif Variables.Sybase>
from		sbaref..LoanCollatTypCdTbl
where		(	datediff(dd,LoanCollatTypStrtDt,		getdate()) >= 0)
and			(				LoanCollatTypEndDt			is null
			or	datediff(dd,LoanCollatTypEndDt,			getdate()) <= 0)<cfelse>
from		sbaref.LoanCollatTypCdTbl
where		(	(sysdate -	LoanCollatTypStrtDt)		>= 0)
and			(				LoanCollatTypEndDt			is null
			or	(sysdate -	LoanCollatTypEndDt)			<= 0)</cfif>
order by	code
</cfquery>
<cfinclude template="#Variables.LogURL#/log_SleQuery.cfm">
