<!--- Assumes another val_file has been run before this one, hence no call to get_FVal.cfm. --->
<cfif Len(Variables.FVal) IS 0>
	<cfset Variables.FVal			= 0>
	<cfset "Variables.#FNam#"		= Variables.FVal>
</cfif>
