<!--- Saved 12/31/2017 09:00:20. --->
PROCEDURE SOFVBGW9_TAXINFOVsUpdTsp(
 p_identifier number:=0,
 p_retval out number,
 p_errval out number,
 p_errmsg out varchar2,
 P_LOANNMB CHAR:=NULL, P_W9TAXFORMFLD CHAR:=NULL,
 P_W9MAILADRSTCD CHAR:=NULL, P_W9VERIFICATIONIND CHAR:=NULL,
 P_LASTUPDTDT DATE:=NULL, P_W9TAXID CHAR:=NULL,
 P_W9MAILADRSTR1NM VARCHAR2:=NULL, P_W9NMADRCHNGDT DATE:=NULL,
 P_W9NM VARCHAR2:=NULL, P_W9MAILADRZIPCD CHAR:=NULL,
 P_W9MAILADRCTYNM VARCHAR2:=NULL, P_LASTUPDTUSERID VARCHAR2:=NULL,
 P_W9NMMAILADRCHNGIND CHAR:=NULL, P_W9VERIFICATIONDT DATE:=NULL,
 P_W9MAILADRSTR2NM VARCHAR2:=NULL, P_W9MAILADRZIP4CD CHAR:=NULL,
 P_W9TAXMAINTNDT DATE:=NULL)
 
 as
 /*
 <!--- generated 2017-09-29 13:40:27 by SYS --->
 Created on: 2017-09-29 13:40:27
 Created by: SYS
 Crerated from genr, stdtblupd_template v 1.0
 Purpose : standard update by key for table STGCSA.SOFVBGW9_TAXINFOV
 */
 BEGIN 
 savepoint SOFVBGW9_TAXINFOVsUpdTsp;
 p_errval:=0;
 p_errmsg:=null; 
 if p_identifier=0 then
 update STGCSA.SOFVBGW9TBL set (
 W9TAXFORMFLD, W9MAILADRSTCD, W9VERIFICATIONIND, LASTUPDTDT, W9TAXID,
 W9MAILADRSTR1NM, W9NMADRCHNGDT, W9NM, W9MAILADRZIPCD, W9MAILADRCTYNM,
 LASTUPDTUSERID, W9NMMAILADRCHNGIND, W9VERIFICATIONDT, W9MAILADRSTR2NM,
 W9MAILADRZIP4CD, W9TAXMAINTNDT)=
 (select 
 P_W9TAXFORMFLD, P_W9MAILADRSTCD, P_W9VERIFICATIONIND, P_LASTUPDTDT,
 P_W9TAXID, P_W9MAILADRSTR1NM, P_W9NMADRCHNGDT, P_W9NM,
 P_W9MAILADRZIPCD, P_W9MAILADRCTYNM, P_LASTUPDTUSERID,
 P_W9NMMAILADRCHNGIND, P_W9VERIFICATIONDT, P_W9MAILADRSTR2NM,
 P_W9MAILADRZIP4CD, P_W9TAXMAINTNDT
 from dual) where (
 LOANNMB)=
 (select 
 P_LOANNMB
 from dual); 
 p_RETVAL := SQL%ROWCOUNT;
 else /* P_IDENTIFIER was unexpected value */
 raise_application_error(-20001,'Unexpected P_IDENTIFIER value: '||p_identifier);
 end if; 
 EXCEPTION
 WHEN OTHERS THEN
 p_errval:=SQLCODE;
 p_errmsg:=SQLERRM(SQLCODE); 
 ROLLBACK TO SOFVBGW9_TAXINFOVsUpdTsp;
 RAISE;
 /* 
 <cfoutput>
 Nothing to see here! Move along!
 </cfoutput>
 */
 END SOFVBGW9_TAXINFOVsUpdTsp; 
<cfoutput>
Nothing to see here! Move along!
</cfoutput>

