<!--- Saved 10/31/2017 13:18:32. --->
procedure refreshPRPLoanRqstByLoanNmbCSP
 (loannmb_in varchar2,
 P_ERRVAL out number,
 P_ERRMSG out varchar2) as
 /*
 <cffunction name="refreshPRPLoanRqstByLoanNmb">
 
 <cfargument name="loanNmb" required="yes">
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 DELETE FROM stgCSA.PRPLOANRQSTTBL WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --GetREQUESTS
 -- LOANNMB, RQSTCD, RQSTREF, PREPAYDT, PREPAYMO, PREPAYYRNMB, SEMIANNDT
 -- BORRNM, CDCREGNCD, CDCNMB, LOANSTATCD, AMORTCDCAMT
 -- Latest PP Date 'Actual' requests (request_code = 4) and any 'Estimated' requests (request_code = 9 and NO request_code = 4 )
 -- Type 4, status CL, latest prepay_date request_ref
 -- Type 9 WITHOUT Code 4, status CL, latest prepay_date request_ref
 */
 errval number;
 errmsg varchar2(256);
 begin refreshPRPLoanRqstByLoanNmbCSP;
 savepoint refreshPRPLoanRqstByLoanNmbCSP;
 INSERT INTO stgCSA.PRPLOANRQSTTBL (
 LOANNMB,
 RQSTCD,
 RQSTREF,
 PREPAYDT,
 PREPAYMO,
 PREPAYYRNMB,
 SEMIANNDT,
 CREATUSERID,
 CREATDT,
 LASTUPDTUSERID,
 LASTUPDTDT,
 CDCSBAFEEDISBAMT, --Not calculated here - field set to NOT NULL so 0 for now
 CDCREGNCD,
 CDCNMB,
 LOANSTAT,
 --LOANSTATCD,
 AMORTCDCAMT,
 BORRNM
 )
 SELECT
 REQUESTS.LOANNMB,
 REQUESTS.RQSTCD,
 REQUESTS.RQSTREF,
 PREPAYDT,
 to_char( PREPAYDT, 'mm' ) AS PREPAYMO,
 to_char( PREPAYDT, 'yyyy' ) AS PREPAYYRNMB,
 SEMIANNDT,
 0,
 SYSTIMESTAMP,
 0,
 SYSTIMESTAMP,
 0,
 lt.CDCREGNCD,
 lt.CDCNMB,
 SUBSTR(lt.LOANSTATCD,0,2),
 lt.AMORTCDCAMT,
 lt.BORRNM
 FROM
 (SELECT REQUESTS4.LOANNMB,
 REQUESTS4.RQSTREF,
 REQUESTS4.RQSTCD
 FROM CDCONLINE.RQSTTBL REQUESTS4
 JOIN (SELECT REQUESTS4_PPDATE.LOANNMB,
 Max(REQUESTS4_PPDATE.PREPAYDT) AS PREPAYDT
 FROM CDCONLINE.RQSTTBL REQUESTS4_PPDATE
 WHERE REQUESTS4_PPDATE.RQSTCD = 4
 AND REQUESTS4_PPDATE.cdcportflstatcdcd = 'CL'
 GROUP BY REQUESTS4_PPDATE.LOANNMB)
 REQUESTS4_PPDATE_MAX
 ON REQUESTS4.LOANNMB = REQUESTS4_PPDATE_MAX.LOANNMB
 AND REQUESTS4.PREPAYDT = REQUESTS4_PPDATE_MAX.PREPAYDT
 WHERE REQUESTS4.RQSTCD = 4
 AND REQUESTS4.cdcportflstatcdcd = 'CL'
 UNION
 SELECT REQUESTS9.LOANNMB,
 REQUESTS9.RQSTREF,
 REQUESTS9.RQSTCD
 FROM (CDCONLINE.RQSTTBL REQUESTS9
 INNER JOIN (SELECT REQUESTS9_PPDATE.LOANNMB,
 Max(REQUESTS9_PPDATE.PREPAYDT) AS
 PREPAYDT
 FROM CDCONLINE.RQSTTBL REQUESTS9_PPDATE
 WHERE REQUESTS9_PPDATE.RQSTCD = 9
 AND REQUESTS9_PPDATE.cdcportflstatcdcd = 'CL'
 GROUP BY REQUESTS9_PPDATE.LOANNMB)
 REQUESTS9_PPDATE_MAX
 ON ( REQUESTS9.PREPAYDT =
 REQUESTS9_PPDATE_MAX.PREPAYDT )
 AND ( REQUESTS9.LOANNMB =
 REQUESTS9_PPDATE_MAX.LOANNMB ))
 LEFT JOIN (SELECT REQUESTS4.LOANNMB,
 REQUESTS4.RQSTREF,
 REQUESTS4.RQSTCD
 FROM CDCONLINE.RQSTTBL REQUESTS4
 JOIN (SELECT REQUESTS4_PPDATE.LOANNMB,
 Max(REQUESTS4_PPDATE.PREPAYDT)
 AS
 PREPAYDT
 FROM CDCONLINE.RQSTTBL REQUESTS4_PPDATE
 WHERE REQUESTS4_PPDATE.RQSTCD = 4
 AND REQUESTS4_PPDATE.cdcportflstatcdcd = 'CL'
 GROUP BY REQUESTS4_PPDATE.LOANNMB)
 
 REQUESTS4_PPDATE_MAX
 ON REQUESTS4.LOANNMB =
 REQUESTS4_PPDATE_MAX.LOANNMB
 AND REQUESTS4.PREPAYDT =
 REQUESTS4_PPDATE_MAX.PREPAYDT
 WHERE REQUESTS4.RQSTCD = 4
 AND REQUESTS4.cdcportflstatcdcd = 'CL') REQUESTS4
 ON REQUESTS9.LOANNMB = REQUESTS4.LOANNMB
 WHERE REQUESTS9.RQSTCD = 9
 AND REQUESTS9.cdcportflstatcdcd = 'CL'
 AND REQUESTS4.RQSTREF IS NULL
 ) REQUESTS
 INNER JOIN CDCONLINE.RQSTTBL
 ON REQUESTS.RQSTREF = CDCONLINE.RQSTTBL.RQSTREF
 INNER JOIN cdconline.LOANTBL LT
 ON lt.LOANNMB = REQUESTS.LOANNMB
 WHERE REQUESTS.LOANNMB = loannmb_in;
 /* WHERE REQUESTS.LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --SET NULLS TO 0
 */ 
 UPDATE stgCSA.PRPLOANRQSTTBL
 SET
 AMORTCDCAMT = NVL(AMORTCDCAMT, 0),
 AMORTCSAAMT = NVL(AMORTCSAAMT, 0),
 AMORTSBAAMT = NVL(AMORTSBAAMT, 0),
 BALAMT = NVL(BALAMT, 0),
 BALCALC1AMT = NVL(BALCALC1AMT, 0),
 BALCALC2AMT = NVL(BALCALC2AMT, 0),
 BALCALC3AMT = NVL(BALCALC3AMT, 0),
 BALCALC4AMT = NVL(BALCALC4AMT, 0),
 BALCALC5AMT = NVL(BALCALC5AMT, 0),
 BALCALC6AMT = NVL(BALCALC6AMT, 0),
 BALCALCAMT = NVL(BALCALCAMT, 0),
 BEHINDAMT = NVL(BEHINDAMT, 0),
 --SBABEHINDAMT = NVL(SBABEHINDAMT, 0),
 BORRFEEAMT = NVL(BORRFEEAMT, 0),
 CDCBEHINDAMT = NVL(CDCBEHINDAMT, 0),
 CDCDUEFROMBORRAMT = NVL(CDCDUEFROMBORRAMT, 0),
 CDCFEECALCONLYAMT = NVL(CDCFEECALCONLYAMT, 0),
 CDCFEEDISBAMT = NVL(CDCFEEDISBAMT, 0),
 CDCFEENEEDEDAMT = NVL(CDCFEENEEDEDAMT, 0),
 CDCPCT = NVL(CDCPCT, 0),
 CSABEHINDAMT = NVL(CSABEHINDAMT, 0),
 CSADUEFROMBORRAMT = NVL(CSADUEFROMBORRAMT, 0),
 CSAFEECALCAMT = NVL(CSAFEECALCAMT, 0),
 CSAFEECALCONLYAMT = NVL(CSAFEECALCONLYAMT, 0),
 CSAFEENEEDEDAMT = NVL(CSAFEENEEDEDAMT, 0),
 CURRFEEBALAMT = NVL(CURRFEEBALAMT, 0),
 DBENTRBALAMT = NVL(DBENTRBALAMT, 0),
 DUEFROMBORRAMT = NVL(DUEFROMBORRAMT, 0),
 --SBADUEFROMBORRAMT = NVL(SBADUEFROMBORRAMT, 0),
 ESCROWAMT = NVL(ESCROWAMT, 0),
 FEECALCAMT = NVL(FEECALCAMT, 0),
 FEECALCONLYAMT = NVL(FEECALCONLYAMT, 0),
 FEENEEDEDAMT = NVL(FEENEEDEDAMT, 0),
 --SBAFEECALCAMT = NVL(SBAFEECALCAMT, 0),
 --SBAFEECALCONLYAMT = NVL(SBAFEECALCONLYAMT, 0),
 --SBAFEENEEDEDAMT = NVL(SBAFEENEEDEDAMT, 0),
 FIVEYRADJ = NVL(FIVEYRADJ, 0),
 FIVEYRADJCDCAMT = NVL(FIVEYRADJCDCAMT, 0),
 FIVEYRADJCSAAMT = NVL(FIVEYRADJCSAAMT, 0),
 FIVEYRADJSBAAMT = NVL(FIVEYRADJSBAAMT, 0),
 GFDAMT = NVL(GFDAMT, 0),
 INT2AMT = NVL(INT2AMT, 0),
 INT3AMT = NVL(INT3AMT, 0),
 INT4AMT = NVL(INT4AMT, 0),
 INT5AMT = NVL(INT5AMT, 0),
 INT6AMT = NVL(INT6AMT, 0),
 INTAMT = NVL(INTAMT, 0),
 INTNEEDEDAMT = NVL(INTNEEDEDAMT, 0),
 LATEFEENEEDEDAMT = NVL(LATEFEENEEDEDAMT, 0),
 MODELNQ = NVL(MODELNQ, 0),
 NOTEBALCALCAMT = NVL(NOTEBALCALCAMT, 0),
 NOTERTPCT = NVL(NOTERTPCT, 0),
 OPENGNTYAMT = NVL(OPENGNTYAMT, 0),
 OPENGNTYERRAMT = NVL(OPENGNTYERRAMT, 0),
 OPENGNTYREGAMT = NVL(OPENGNTYREGAMT, 0),
 OPENGNTYUNALLOCAMT = NVL(OPENGNTYUNALLOCAMT, 0),
 PI6MOAMT = NVL(PI6MOAMT, 0),
 PIAMT = NVL(PIAMT, 0),
 PIPROJAMT = NVL(PIPROJAMT, 0),
 POSTINGMO = NVL(POSTINGMO, 0),
 PREPAYAMT = NVL(PREPAYAMT, 0),
 PREPAYPCT = NVL(PREPAYPCT, 0),
 PREPAYPREMAMT = NVL(PREPAYPREMAMT, 0),
 PRIN2AMT = NVL(PRIN2AMT, 0),
 PRIN3AMT = NVL(PRIN3AMT, 0),
 PRIN4AMT = NVL(PRIN4AMT, 0),
 PRIN5AMT = NVL(PRIN5AMT, 0),
 PRIN6AMT = NVL(PRIN6AMT, 0),
 PRINAMT = NVL(PRINAMT, 0),
 PRINCURAMT = NVL(PRINCURAMT, 0),
 PRINNEEDEDAMT = NVL(PRINNEEDEDAMT, 0),
 PRINPROJAMT = NVL(PRINPROJAMT, 0),
 SEMIANMO = NVL(SEMIANMO, 0),
 SEMIANNAMT = NVL(SEMIANNAMT, 0),
 SEMIANNPYMTAMT = NVL(SEMIANNPYMTAMT, 0),
 UNALLOCAMT = NVL(UNALLOCAMT, 0)
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --GetDATES
 --ACTUALRQST, CSAPAIDTHRUDT, BORRPAIDTHRUDT, INTPAIDTHRUDT
 */ 
 UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 t1.ACTUALRQST = CASE WHEN RQSTCD=4
 AND EXTRACT(month FROM SYSTIMESTAMP ) = EXTRACT(month FROM t1.PREPAYDT)
 AND EXTRACT(year FROM SYSTIMESTAMP ) = EXTRACT(year FROM t1.PREPAYDT)
 THEN 'Yes'
 ELSE 'No' END,
 t1.CSAPAIDTHRUDT = CASE WHEN EXTRACT(month FROM ADD_MONTHS(t1.SEMIANNDT, -1)) = 2
 THEN EXTRACT(year FROM t1.SEMIANNDT) || '/02/30'
 ELSE EXTRACT(year FROM ADD_MONTHS(t1.SEMIANNDT, -1)) || '/' || SUBSTR('0' || to_char(EXTRACT(month FROM ADD_MONTHS(t1.SEMIANNDT, -1))), -2) || '/' || '30'
 END,
 t1.BORRPAIDTHRUDT = CASE WHEN EXTRACT(month FROM ADD_MONTHS(t1.SEMIANNDT, -1)) = 2
 THEN EXTRACT(year FROM t1.SEMIANNDT) || '/02/30'
 ELSE EXTRACT(year FROM ADD_MONTHS(t1.SEMIANNDT, -1)) || '/' || SUBSTR('0' || to_char(EXTRACT(month FROM ADD_MONTHS(t1.SEMIANNDT, -1))), -2) || '/' || '30'
 END,
 t1.INTPAIDTHRUDT = CASE WHEN EXTRACT(month FROM ADD_MONTHS(t1.SEMIANNDT, -1)) = 2
 THEN EXTRACT(year FROM t1.SEMIANNDT) || '/02/30'
 ELSE EXTRACT(year FROM ADD_MONTHS(t1.SEMIANNDT, -1)) || '/' || SUBSTR('0' || to_char(EXTRACT(month FROM ADD_MONTHS(t1.SEMIANNDT, -1))), -2) || '/' || '30'
 END
 WHERE LOANNMB = loannmb_in;
 /* 
 WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --GetPAY_HIST
 --PREPAYAMT, POSTINGDT, POSTINGMO, POSTINGYRNMB
 */ 
 UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 (
 t1.PREPAYAMT, t1.POSTINGDT, t1.POSTINGMO, t1.POSTINGYRNMB
 ) =
 (
 SELECT
 NVL(SUM(t2.PREPAYAMT), 0) AS PREPAYAMT,
 MAX(t2.POSTINGDT) AS POSTINGDT,
 EXTRACT(month FROM MAX(t2.POSTINGDT)),
 EXTRACT(year FROM MAX(t2.POSTINGDT))
 FROM CDCONLINE.PYMTHISTRYTBL t2
 WHERE (t2.PYMTTYP = 'X' OR t2.PYMTTYP IS NULL)
 AND t2.PREPAYAMT <> 0
 AND t1.LOANNMB = t2.LOANNMB
 GROUP BY t2.LOANNMB
 )
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --BUSDAY6DT, THIRDTHURSDAY, PREPAYCALCDT
 */ 
 UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 (
 t1.BUSDAY6DT, t1.THIRDTHURSDAY, t1.PREPAYCALCDT
 ) =
 (
 SELECT
 t2.CALNDRBUSDAYBUSDAY6DT,
 t2.THIRDTHURSDAYDt,
 CASE WHEN t1.POSTINGDT > t2.THIRDTHURSDAYDt AND t1.PREPAYDT > t2.THIRDTHURSDAYDt
 THEN ADD_MONTHS(t1.PREPAYDT, -1)
 ELSE t1.PREPAYDT
 END
 FROM stgCSA.REFCALNDRBUSDAYTBL t2
 WHERE t1.POSTINGYRNMB = t2.CALNDRBUSDAYYR
 AND t1.POSTINGMO = t2.CALNDRBUSDAYMO
 )
 WHERE t1.LOANNMB = loannmb_in;
 /* 
 WHERE t1.LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 */
 UPDATE stgCSA.PRPLOANRQSTTBL
 SET
 PREPAYCALCDT = PREPAYDT
 WHERE PREPAYCALCDT IS NULL
 AND LOANNMB = loannmb_in;
 /*
 AND LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --SEMIANMO
 /* 
 UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 SEMIANMO =
 CASE WHEN t1.POSTINGDT > t1.THIRDTHURSDAY AND t1.PREPAYDT > t1.THIRDTHURSDAY
 THEN CAST(1 + MONTHS_BETWEEN(SEMIANNDT, ADD_MONTHS(PREPAYDT, -1)) AS INT)
 ELSE CAST(1 + MONTHS_BETWEEN(t1.PREPAYDT, t1.SEMIANNDT) AS INT)
 END
 WHERE t1.LOANNMB = loannmb_in;
 */ 
 WHERE t1.LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 UPDATE stgCSA.PRPLOANRQSTTBL SET SEMIANMO = 6 
 WHERE SEMIANMO = 7 AND LOANNMB = loannmb_in;
 /* WHERE SEMIANMO = 7 AND LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --CDCPAIDTHRUDT
 */ 
 UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 CDCPAIDTHRUDT =
 CASE WHEN EXTRACT(month FROM PREPAYCALCDT)-1 = 3
 THEN EXTRACT(year FROM PREPAYCALCDT) || '/02/30'
 ELSE EXTRACT(year FROM PREPAYCALCDT) || '/' || SUBSTR('0' || to_char(EXTRACT(month FROM ADD_MONTHS(PREPAYCALCDT, -1))), -2) || '/30'
 END
 WHERE t1.LOANNMB = loannmb_in;
 /* 
 WHERE t1.LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --GetMF_DFB
 --CSADUEFROMBORRAMT, CDCDUEFROMBORRAMT, DUEFROMBORRAMT, APPVDT, CURRFEEBALAMT, SEMIANNPYMTAMT
 */
 UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 (
 CSADUEFROMBORRAMT, CDCDUEFROMBORRAMT, DUEFROMBORRAMT, APPVDT, CURRFEEBALAMT, SEMIANNPYMTAMT
 ) =
 --SET (CSADUEFROMBORRAMT, CDCDUEFROMBORRAMT, SBADUEFROMBORRAMT, APPVDT, CURRFEEBALAMT, SEMIANNPYMTAMT) =
 (
 SELECT DISTINCT
 NVL(t2.CSADUEFROMBORRAMT, 0),
 NVL(t2.CDCDUEFROMBORRAMT, 0),
 NVL(t2.DUEFROMBORRAMT, 0),
 --NVL(t2.SBADUEFROMBORRAMT, 0),
 t2.APPRDT,
 NVL(t2.CURRFEEBALAMT, 0),
 NVL(t2.SEMIANAMT, 0)
 FROM stgcsa.PRPMFDUEFROMBORRTBL t2
 WHERE t1.LOANNMB = t2.LOANNMB
 )
 WHERE t1.LOANNMB = loannmb_in;
 /*
 WHERE t1.LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL
 SET
 CDCDUEFROMBORRAMT = NVL(CDCDUEFROMBORRAMT, 0),
 CSADUEFROMBORRAMT = NVL(CSADUEFROMBORRAMT, 0),
 DUEFROMBORRAMT = NVL(DUEFROMBORRAMT, 0),
 --SBADUEFROMBORRAMT = NVL(SBADUEFROMBORRAMT, 0),
 CURRFEEBALAMT = NVL(CURRFEEBALAMT, 0),
 SEMIANNPYMTAMT = NVL(SEMIANNPYMTAMT, 0)
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --GetPAY_SAVE
 --PRINCURAMT, BALAMT
 */
 UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 (
 t1.PRINCURAMT, t1.BALAMT
 ) =
 (
 SELECT
 NVL(SUM(CASE t2.PYMTTYP WHEN 'X' THEN t2.PRINAMT ELSE 0 END), 0) AS PRINCURAMT,
 NVL(SUM(CASE t2.PYMTTYP WHEN 'X' THEN 0 ELSE t2.BALAMT END), 0) AS BALAMT
 FROM CDCONLINE.PYMTSAVETBL t2
 WHERE t1.RQSTREF = t2.RQSTREF
 GROUP BY t1.LOANNMB
 )
 WHERE t1.LOANNMB = loannmb_in;
 /*
 WHERE t1.LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --GetLOAN_SAVE
 --PIAMT, NOTERTPCT, SEMIANNAMT, ISSDT, DBENTRBALAMT, PREPAYPREMAMT,
 --PRINNEEDEDAMT, INTNEEDEDAMT, CSAFEENEEDEDAMT, CDCFEENEEDEDAMT, LATEFEENEEDEDAMT, SBAFEENEEDEDAMT,
 --AMORTSBAAMT, AMORTCSAAMT, CDCPCT, SBAPCT
 */
 UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 (
 t1.PIAMT, t1.NOTERTPCT, t1.SEMIANNAMT, t1.ISSDT, t1.DBENTRBALAMT, t1.PREPAYPREMAMT,
 t1.PRINNEEDEDAMT, t1.INTNEEDEDAMT, t1.CSAFEENEEDEDAMT, t1.CDCFEENEEDEDAMT, t1.LATEFEENEEDEDAMT, t1.FEENEEDEDAMT,
 t1.AMORTSBAAMT, t1.AMORTCSAAMT, t1.CDCPCT, t1.PREPAYPCT
 ) =
 --t1.AMORTSBAAMT, t1.AMORTCSAAMT, t1.CDCPCT, t1.SBAPCT) =
 (
 SELECT
 NVL(t2.AMORTPRINAMT, 0) + NVL(t2.AMORTINTAMT, 0) AS PIAMT,
 NVL(t2.NOTERTPCT, 0),
 NVL(t2.SEMIANNPYMTAMT, 0),
 t2.ISSDT,
 NVL(t2.DBENTRBALAMT, 0),
 NVL(t2.PREPAYPREMAMT, 0),
 NVL(t2.PRINNEEDEDAMT, 0),
 NVL(t2.INTNEEDEDAMT, 0),
 NVL(t2.CSAFEENEEDEDAMT, 0),
 NVL(t2.CDCFEENEEDEDAMT, 0),
 NVL(t2.LATEFEENEEDEDAMT, 0),
 NVL(t2.SBAFEENEEDEDAMT, 0) AS FEENEEDEDAMT,
 NVL(t2.AMORTSBAAMT, 0),
 NVL(t2.AMORTCSAAMT, 0),
 NVL(t2.CDCPCT, 0),
 NVL(t2.SBAPCT, 0)
 FROM CDCONLINE.LoanSaveTbl t2
 WHERE t1.RQSTREF = t2.RQSTREF
 )
 WHERE t1.LOANNMB = loannmb_in;
 /*
 WHERE t1.LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 ???
 */
 UPDATE stgCSA.PRPLOANRQSTTBL SET SEMIANNAMT = SEMIANNPYMTAMT 
 WHERE SEMIANNAMT = 0 AND SEMIANNPYMTAMT <> 0;
 /*
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --BALCALCAMT, FIVEYRADJ, FIVEYRADJCSAAMT, FIVEYRADJCDCAMT, FIVEYRADJSBAAMT
 */
 UPDATE stgCSA.PRPLOANRQSTTBL
 SET
 BALCALCAMT = CASE WHEN BALAMT = PRINCURAMT
 THEN BALAMT - PRINNEEDEDAMT
 ELSE BALAMT - PRINNEEDEDAMT - PRINAMT
 END
 WHERE LOANNMB = loannmb_in;
 /* WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 t1.FIVEYRADJ = ROUND(MONTHS_BETWEEN(t1.PREPAYDT, t1.ISSDT), 0) + 1,
 t1.FIVEYRADJCSAAMT = (0.001 * t1.BALCALCAMT) / 12,
 t1.FIVEYRADJCDCAMT = (t1.CDCPCT * t1.BALCALCAMT) / 12,
 t1.FIVEYRADJSBAAMT = (t1.PREPAYPCT * t1.BALCALCAMT) / 12
 --t1.FIVEYRADJSBAAMT = (t1.SBAPCT * t1.BALCALCAMT) / 12
 WHERE LOANNMB = loannmb_in;
 /* WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --CSAFEECALCAMT, SBAFEECALCAMT, CSAFEECALCONLYAMT, CDCFEECALCONLYAMT, SBAFEECALCONLYAMT
 */
 UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 CSAFEECALCAMT =
 CASE WHEN FIVEYRADJ IN (1,61,121,181,241,301)
 THEN ROUND(FIVEYRADJCSAAMT * SEMIANMO, 2)
 ELSE NVL(CSAFEENEEDEDAMT, 0) - NVL(CSADUEFROMBORRAMT, 0) + AMORTCSAAMT * SEMIANMO
 END,
 FEECALCAMT =
 --SBAFEECALCAMT =
 CASE WHEN FIVEYRADJ IN (1,61,121,181,241,301)
 THEN ROUND(FIVEYRADJSBAAMT * SEMIANMO,2)
 ELSE NVL(FEENEEDEDAMT, 0) - NVL(DUEFROMBORRAMT, 0) + AMORTSBAAMT * SEMIANMO
 END,
 CSAFEECALCONLYAMT =
 CASE WHEN FIVEYRADJ IN (1,61,121,181,241,301)
 THEN ROUND(FIVEYRADJCSAAMT * SEMIANMO, 2)
 ELSE AMORTCSAAMT * SEMIANMO
 END,
 CDCFEECALCONLYAMT =
 CASE WHEN FIVEYRADJ IN (1,61,121,181,241,301)
 THEN ROUND(FIVEYRADJCDCAMT * SEMIANMO, 2)
 ELSE AMORTCDCAMT * SEMIANMO
 END,
 FEECALCONLYAMT =
 CASE WHEN FIVEYRADJ IN (1,61,121,181,241,301)
 THEN ROUND(FIVEYRADJSBAAMT * SEMIANMO, 2)
 ELSE AMORTSBAAMT * SEMIANMO
 END
 --SBAFEECALCONLYAMT = CASE WHEN FIVEYRADJ IN (1,61,121,181,241,301) THEN ROUND(FIVEYRADJSBAAMT * SEMIANMO, 2) ELSE AMORTSBAAMT * SEMIANMO END
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --BALCALC1AMT, BALCALC2AMT, BALCALC3AMT, BALCALC4AMT, BALCALC5AMT, BALCALC6AMT
 */
 UPDATE stgCSA.PRPLOANRQSTTBL 
 SET BALCALC1AMT = BALCALCAMT - (PIAMT - ROUND((BALCALCAMT * (NOTERTPCT / 100) / 360) * 30, 2)) 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL 
 SET BALCALC2AMT = BALCALC1AMT - (PIAMT - ROUND((BALCALC1AMT * (NOTERTPCT / 100) / 360) * 30, 2)) 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL 
 SET BALCALC3AMT = BALCALC2AMT - (PIAMT - ROUND((BALCALC2AMT * (NOTERTPCT / 100) / 360) * 30, 2)) 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL 
 SET BALCALC4AMT = BALCALC3AMT - (PIAMT - ROUND((BALCALC3AMT * (NOTERTPCT / 100) / 360) * 30, 2)) 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL 
 SET BALCALC5AMT = BALCALC4AMT - (PIAMT - ROUND((BALCALC4AMT * (NOTERTPCT / 100) / 360) * 30, 2)) 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL 
 SET BALCALC6AMT = BALCALC5AMT - (PIAMT - ROUND((BALCALC5AMT * (NOTERTPCT / 100) / 360) * 30, 2)) 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --NOTEBALCALCAMT
 */
 UPDATE stgCSA.PRPLOANRQSTTBL
 SET
 NOTEBALCALCAMT =
 CASE
 WHEN SEMIANMO = 1 THEN
 CASE WHEN BALCALC1AMT < 0 THEN 0 ELSE BALCALC1AMT END
 WHEN SEMIANMO = 2 THEN
 CASE WHEN BALCALC2AMT < 0 THEN 0 ELSE BALCALC2AMT END
 WHEN SEMIANMO = 3 THEN
 CASE WHEN BALCALC3AMT < 0 THEN 0 ELSE BALCALC3AMT END
 WHEN SEMIANMO = 4 THEN
 CASE WHEN BALCALC4AMT < 0 THEN 0 ELSE BALCALC4AMT END
 WHEN SEMIANMO = 5 THEN
 CASE WHEN BALCALC5AMT < 0 THEN 0 ELSE BALCALC5AMT END
 WHEN SEMIANMO = 6 THEN
 CASE WHEN BALCALC6AMT < 0 THEN 0 ELSE BALCALC6AMT END
 ELSE BALCALCAMT
 END
 WHERE LOANNMB = loannmb_in;
 /* WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --PRINAMT, PRIN2AMT, PRIN3AMT, PRIN4AMT, PRIN5AMT, PRIN6AMT
 */
 UPDATE stgCSA.PRPLOANRQSTTBL 
 SET PRINAMT = PIAMT-ROUND((BALCALCAMT*(NOTERTPCT/100)/360)*30,2) 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL 
 SET PRIN2AMT = BALCALC1AMT-BALCALC2AMT 
 WHERE LOANNMB = loannmb_in;
 /* WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL 
 SET PRIN3AMT = BALCALC2AMT-BALCALC3AMT 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL SET PRIN4AMT = BALCALC3AMT-BALCALC4AMT 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL SET PRIN5AMT = BALCALC4AMT-BALCALC5AMT 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL SET PRIN6AMT = BALCALC5AMT-BALCALC6AMT 
 WHERE LOANNMB = loannmb_in;
 /* WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --PRINPROJAMT
 */
 UPDATE stgCSA.PRPLOANRQSTTBL
 SET
 PRINPROJAMT =
 CASE
 WHEN SEMIANMO = 6 THEN PRINAMT+PRIN2AMT+PRIN3AMT+PRIN4AMT+PRIN5AMT+PRIN6AMT
 WHEN SEMIANMO = 5 THEN PRINAMT+PRIN2AMT+PRIN3AMT+PRIN4AMT+PRIN5AMT
 WHEN SEMIANMO = 4 THEN PRINAMT+PRIN2AMT+PRIN3AMT+PRIN4AMT
 WHEN SEMIANMO = 3 THEN PRINAMT+PRIN2AMT+PRIN3AMT
 WHEN SEMIANMO = 2 THEN PRINAMT+PRIN2AMT
 ELSE PRINAMT
 END
 WHERE LOANNMB = loannmb_in;
 /* WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --PIPROJAMT, INTAMT, INT2AMT, INT3AMT, INT4AMT, INT5AMT, INT6AMT,
 */
 UPDATE stgCSA.PRPLOANRQSTTBL SET PIPROJAMT = PIAMT*SEMIANMO 
 WHERE LOANNMB = loannmb_in;
 /* WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL SET INTAMT = ROUND((BALCALCAMT*(NOTERTPCT/100)/360)*30,2) 
 WHERE LOANNMB = loannmb_in;
 /* WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */ UPDATE stgCSA.PRPLOANRQSTTBL SET INT2AMT = PIAMT-BALCALC1AMT-BALCALC2AMT 
 WHERE LOANNMB = loannmb_in;
 /* WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL SET INT3AMT = PIAMT-BALCALC2AMT-BALCALC3AMT 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL SET INT4AMT = PIAMT-BALCALC3AMT-BALCALC4AMT 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */ UPDATE stgCSA.PRPLOANRQSTTBL SET INT5AMT = PIAMT-BALCALC4AMT-BALCALC5AMT 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL SET INT6AMT = PIAMT-BALCALC5AMT-BALCALC6AMT 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --GetMF_FEES
 --CSABEHINDAMT, CDCBEHINDAMT, SBABEHINDAMT, BORRFEEAMT
 */
 UPDATE stgCSA.PRPLOANRQSTTBL
 SET
 CSABEHINDAMT = CSAFEENEEDEDAMT-CSADUEFROMBORRAMT,
 CDCBEHINDAMT = CDCFEENEEDEDAMT-CDCDUEFROMBORRAMT,
 BEHINDAMT = FEENEEDEDAMT-DUEFROMBORRAMT,
 -- SBABEHINDAMT = SBAFEENEEDEDAMT-DUEFROMBORRAMT,
 BORRFEEAMT = (AMORTSBAAMT*SEMIANMO)+FEENEEDEDAMT+DUEFROMBORRAMT
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --MODELNQ
 */
 UPDATE stgCSA.PRPLOANRQSTTBL
 SET
 MODELNQ =
 CASE WHEN (AMORTCDCAMT = 0 OR CDCBEHINDAMT = 0)
 THEN 0
 ELSE CDCBEHINDAMT / AMORTCDCAMT
 END
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --CDCSBAFEEDISBAMT, CDCFEEDISBAMT
 */
 UPDATE stgCSA.PRPLOANRQSTTBL
 SET
 CDCSBAFEEDISBAMT =
 CASE WHEN APPVDT > '30-SEP-96'
 THEN ((CURRFEEBALAMT * 0.00125) / 12) * MODELNQ
 ELSE 0
 END,
 CDCFEEDISBAMT =
 CASE WHEN APPVDT > '30-SEP-96'
 THEN CDCFEENEEDEDAMT - ((CURRFEEBALAMT * 0.00125) / 12) * MODELNQ
 ELSE CDCFEENEEDEDAMT
 END
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --GetESCROW
 --ESCROWAMT
 */
 UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 (
 t1.ESCROWAMT
 ) =
 (
 SELECT
 SUM(NVL(t2.PRINAMT,0) + NVL(t2.INTAMT,0)) AS ESCROW
 FROM CDCONLINE.PYMTHISTRYTBL t2
 WHERE
 t2.POSTINGDT <
 (
 SELECT SEMIANNDT
 FROM CDCONLINE.RqstTbl t3
 WHERE t3.RQSTREF = t1.RQSTREF
 )
 AND t2.POSTINGDT >
 (
 SELECT ADD_MONTHS(SEMIANNDT, -5)
 FROM CDCONLINE.RqstTbl t3
 WHERE t3.RQSTREF = t1.RQSTREF
 )
 AND t2.PYMTTYP <> 'X'
 AND t1.LOANNMB = t2.LOANNMB
 GROUP BY t1.LOANNMB
 )
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL SET ESCROWAMT = NVL(ESCROWAMT, 0) 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --GetUNALLOC
 --UNALLOCAMT
 */ UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 (
 UNALLOCAMT
 ) =
 (
 SELECT
 NVL(SUM(t2.UNALLOCAMT), 0) AS UNALLOCAMT
 FROM cdconline.PYMTHISTRYTBL t2
 WHERE t2.PREPAYAMT = 0
 AND t1.LOANNMB = t2.LOANNMB
 GROUP BY t1.LOANNMB
 )
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL SET UNALLOCAMT = NVL(UNALLOCAMT, 0) 
 WHERE LOANNMB = loannmb_in;
 /* WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --GetGFD
 --GFDAMT
 */
 UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 (
 GFDAMT
 ) =
 (
 SELECT SUM(PREPAYAMT)
 FROM
 (
 SELECT t2.PREPAYAMT
 FROM CDCONLINE.PYMTHISTRYTBL t2
 WHERE TRIM(t2.PYMTTYP) IS NULL
 AND t2.LOANNMB = t1.LOANNMB
 AND t2.PREPAYAMT >= -1000
 AND t2.PREPAYAMT <= 1000
 )
 GROUP BY LOANNMB
 HAVING SUM(PREPAYAMT) = 1000
 OR SUM(PREPAYAMT) = -1000
 )
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 UPDATE stgCSA.PRPLOANRQSTTBL SET GFDAMT = NVL(GFDAMT, 0) 
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="deleteTEMPGETOGPI6MOTBL" username="#variables.username#" password="#variables.password#">
 
 --GetOG
 --PI6MOAMT
 */
 DELETE FROM stgcsa.TEMPGETOGPI6MOTBL;
 /* </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 DELETE FROM stgcsa.TEMPGETDTTBL;
 /* </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 --temp_sba_PRPMFGuar in Access VBA
 
 */
 INSERT INTO stgcsa.TEMPGETDTTBL
 (
 LOANNMB, PREPAYDT,CREATDT,CREATUSERID,LASTUPDTDT,LASTUPDTUSERID
 )
 SELECT
 t2.LOANNMB, t2.OPENGNTYDTCONVERTED,
 SYSTIMESTAMP,
 0,
 SYSTIMESTAMP,
 0
 FROM stgCSA.PRPLOANRQSTTBL t3
 INNER JOIN stgcsa.PRPMFGNTYTBL t2
 ON t3.LOANNMB = t2.LOANNMB
 WHERE t2.PRPCMNT Not Like '%1-5%'
 AND t2.OPENGNTYDTCONVERTED IS NOT NULL
 AND t3.LOANNMB = loannmb_in;
 /*
 AND t3.LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 */
 INSERT INTO stgcsa.TEMPGETOGPI6MOTBL
 (
 LOANNMB, PRININT6MOAMT, CREATDT,CREATUSERID,LASTUPDTDT,LASTUPDTUSERID
 )
 SELECT
 t2.LOANNMB,
 (t2.PRINAMT + t2.INTAMT) AS PRININT6MOAMT,
 SYSTIMESTAMP,
 0,
 SYSTIMESTAMP,
 0
 FROM CDCONLINE.PYMTHISTRYTBL t2
 INNER JOIN stgcsa.TEMPGETDTTBL t3
 ON t2.LOANNMB = t3.LOANNMB
 WHERE t2.POSTINGDT >= t3.PREPAYDT
 AND PREPAYAMT = 0 AND PRINAMT <> 0
 AND CAST(MONTHS_BETWEEN(t2.POSTINGDT, t3.PREPAYDT) AS INT) = 0
 AND t2.LOANNMB = loannmb_in;
 /* AND t2.LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 */
 UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 PI6MOAMT = NVL(
 (
 SELECT Sum(t2.PRININT6MOAMT) AS SumOfPI6Month
 FROM stgcsa.TEMPGETOGPI6MOTBL t2
 WHERE t1.LOANNMB = t2.LOANNMB
 ), 0)
 WHERE t1.LOANNMB = loannmb_in;
 /*
 WHERE t1.LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --OPENGNTYERRAMT
 */
 DELETE FROM stgcsa.TEMPGETOGERRRAWTBL;
 /* </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 */ INSERT INTO stgcsa.TEMPGETOGERRRAWTBL
 (
 GETOPENGNTYERRRAWID,
 LOANNMB,
 OPENGNTYERRAMT,
 THIRDTHURSDAYDT,
 PREPAYDT,
 POSTINGDT,
 DTCHKIND,
 DTCHKTRUE,
 DTCHKFALSE,
 CREATUSERID,
 CREATDT,
 LASTUPDTUSERID,
 LASTUPDTDT
 )
 SELECT
 PRPMFGNTYTBL.PRPMFGNTYID,
 PRPMFGNTYTBL.LOANNMB,
 PRPMFGNTYTBL.GNTYAMT,
 REFCALNDRBUSDAYTBL.THIRDTHURSDAYDT,
 PRPMFGNTYTBL.PREPAYDT,
 PYMTHISTRYTBL.Max_POSTINGDT,
 CASE
 WHEN PYMTHISTRYTBL.Max_POSTINGDT > REFCALNDRBUSDAYTBL.THIRDTHURSDAYDT
 AND PRPMFGNTYTBL.PREPAYDT > REFCALNDRBUSDAYTBL.THIRDTHURSDAYDT
 THEN 1
 ELSE 0
 END AS DATECHECKFLAG,
 ROUND(MONTHS_BETWEEN(LOANTBL.SEMIANNDT, ADD_MONTHS(PRPMFGNTYTBL.PREPAYDT, -1))+1) AS DATECHECKTRUE,
 ROUND(MONTHS_BETWEEN(LOANTBL.SEMIANNDT, PRPMFGNTYTBL.PREPAYDT)+1) AS DATECHECKFALSE,
 0,
 SYSTIMESTAMP,
 0,
 SYSTIMESTAMP
 FROM
 (SELECT
 LOANNMB,
 SEMIANNDT
 FROM stgCSA.PRPLOANRQSTTBL
 ) LOANTBL
 LEFT JOIN
 (SELECT
 LOANNMB,
 MAX(POSTINGDT) AS Max_POSTINGDT,
 MAX(PYMTTYP) AS Max_PYMTTYP,
 SUM(PREPAYAMT) AS Sum_PREPAYAMT,
 Extract(MONTH FROM POSTINGDT) AS POSTINGMO,
 Extract(YEAR FROM POSTINGDT) AS POSTINGYR
 FROM
 (SELECT
 t2.LOANNMB,
 t2.POSTINGDT,
 t2.PYMTTYP,
 t2.PREPAYAMT
 FROM CDCONLINE.PYMTHISTRYTBL t2
 WHERE (t2.PYMTTYP = 'X' OR t2.PYMTTYP IS NULL)
 AND t2.PREPAYAMT <> 0
 )
 GROUP BY LOANNMB,
 Extract(MONTH FROM POSTINGDT),
 Extract(YEAR FROM POSTINGDT)
 ) PYMTHISTRYTBL
 ON LOANTBL.LOANNMB = PYMTHISTRYTBL.LOANNMB
 LEFT JOIN
 (SELECT * FROM stgcsa.REFCALNDRBUSDAYTBL
 ) REFCALNDRBUSDAYTBL
 ON PYMTHISTRYTBL.POSTINGMO = REFCALNDRBUSDAYTBL.CALNDRBUSDAYMO
 AND PYMTHISTRYTBL.POSTINGYR = REFCALNDRBUSDAYTBL.CALNDRBUSDAYYR
 LEFT JOIN
 (SELECT
 PRPMFGNTYTBL.PRPMFGNTYID,
 PRPMFGNTYTBL.LOANNMB,
 PRPMFGNTYTBL.GNTYAMT,
 PRPMFGNTYTBL.PREPAYDT,
 Extract(MONTH FROM PRPMFGNTYTBL.OPENGNTYDTCONVERTED) AS OPENGNTYDTCONVERTEDMO,
 Extract(YEAR FROM PRPMFGNTYTBL.OPENGNTYDTCONVERTED) AS OPENGNTYDTCONVERTEDYR,
 Extract(MONTH FROM PRPMFGNTYTBL.PREPAYDT) AS PREPAYMO,
 Extract(YEAR FROM PRPMFGNTYTBL.PREPAYDT) AS PREPAYYR
 FROM stgcsa.PRPMFGNTYTBL
 ) PRPMFGNTYTBL
 ON PYMTHISTRYTBL.LOANNMB = PRPMFGNTYTBL.LOANNMB
 WHERE PRPMFGNTYTBL.OPENGNTYDTCONVERTEDMO - PRPMFGNTYTBL.PREPAYMO = 0
 AND PRPMFGNTYTBL.OPENGNTYDTCONVERTEDYR - PRPMFGNTYTBL.PREPAYYR = 0
 AND PRPMFGNTYTBL.LOANNMB IS NOT NULL
 AND PRPMFGNTYTBL.LOANNMB = loannmb_in;
 /* AND PRPMFGNTYTBL.LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 DELETE FROM stgcsa.TEMPGETOGERRTBL;
 /*
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 */
 INSERT INTO stgcsa.TEMPGETOGERRTBL
 (
 GETOPENGNTYERRID,
 LOANNMB,
 OPENGNTYERRAMT,
 CREATUSERID,
 CREATDT,
 LASTUPDTUSERID,
 LASTUPDTDT
 )
 SELECT
 GETOPENGNTYERRRAWID,
 LOANNMB,
 OPENGNTYERRAMT,
 0,
 SYSTIMESTAMP,
 0,
 SYSTIMESTAMP
 FROM stgcsa.TEMPGETOGERRRAWTBL
 WHERE CASE WHEN DTCHKIND = 1 THEN DTCHKTRUE ELSE DTCHKFALSE END = 1
 AND LOANNMB = loannmb_in;
 /*
 AND LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 */
 UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 OPENGNTYERRAMT = NVL(
 (
 SELECT Sum(t2.OPENGNTYERRAMT) AS SumOPENGNTYERRAMT
 FROM stgcsa.TEMPGETOGERRTBL t2
 WHERE t1.LOANNMB = t2.LOANNMB
 ), 0)
 WHERE LOANNMB = loannmb_in;
 /*
 WHERE LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 
 --OG REG
 */
 UPDATE stgCSA.PRPLOANRQSTTBL t1
 SET
 OPENGNTYREGAMT = NVL(
 (
 SELECT
 SUM(PRPMFGNTYTBL.GNTYAMT) AS Sum_GNTYAMT
 FROM
 (SELECT LOANNMB, SEMIANNDT FROM stgCSA.PRPLOANRQSTTBL
 ) LOANTBL
 LEFT JOIN
 (SELECT LOANNMB,
 MAX(POSTINGDT) AS Max_POSTINGDT,
 MAX(PYMTTYP) AS Max_PYMTTYP,
 SUM(PREPAYAMT) AS Sum_PREPAYAMT,
 Extract(MONTH FROM POSTINGDT) AS POSTINGMO,
 Extract(YEAR FROM POSTINGDT) AS POSTINGYR
 FROM
 (SELECT t2.LOANNMB,
 t2.POSTINGDT,
 t2.PYMTTYP,
 t2.PREPAYAMT
 FROM CDCONLINE.PYMTHISTRYTBL t2
 WHERE (t2.PYMTTYP = 'X'
 OR t2.PYMTTYP IS NULL)
 AND t2.PREPAYAMT <> 0
 )
 GROUP BY LOANNMB,
 Extract(MONTH FROM POSTINGDT),
 Extract(YEAR FROM POSTINGDT)
 ) PYMTHISTRYTBL
 ON LOANTBL.LOANNMB = PYMTHISTRYTBL.LOANNMB
 LEFT JOIN
 (SELECT * FROM stgcsa.REFCALNDRBUSDAYTBL
 ) REFCALNDRBUSDAYTBL
 ON PYMTHISTRYTBL.POSTINGMO = REFCALNDRBUSDAYTBL.CALNDRBUSDAYMO
 AND PYMTHISTRYTBL.POSTINGYR = REFCALNDRBUSDAYTBL.CALNDRBUSDAYYR
 LEFT JOIN
 (SELECT PRPMFGNTYTBL.PRPMFGNTYID,
 PRPMFGNTYTBL.LOANNMB,
 PRPMFGNTYTBL.GNTYAMT,
 PRPMFGNTYTBL.PREPAYDT,
 Extract(MONTH FROM PRPMFGNTYTBL.OPENGNTYDTCONVERTED) AS OPENGNTYDTCONVERTEDMO,
 Extract(YEAR FROM PRPMFGNTYTBL.OPENGNTYDTCONVERTED) AS OPENGNTYDTCONVERTEDYR,
 Extract(MONTH FROM PRPMFGNTYTBL.PREPAYDT) AS PREPAYMO,
 Extract(YEAR FROM PRPMFGNTYTBL.PREPAYDT) AS PREPAYYR
 FROM stgcsa.PRPMFGNTYTBL
 ) PRPMFGNTYTBL
 ON PYMTHISTRYTBL.LOANNMB = PRPMFGNTYTBL.LOANNMB
 LEFT JOIN stgcsa.TEMPGETOGERRRAWTBL
 ON PRPMFGNTYTBL.PRPMFGNTYID = TEMPGETOGERRRAWTBL.GETOPENGNTYERRRAWID
 WHERE TEMPGETOGERRRAWTBL.GETOPENGNTYERRRAWID IS NULL
 AND LOANTBL.LOANNMB = t1.LOANNMB
 GROUP BY PRPMFGNTYTBL.LOANNMB,
 0,
 SYSTIMESTAMP,
 0,
 SYSTIMESTAMP
 ), 0)
 WHERE t1.LOANNMB = loannmb_in;
 /*
 WHERE t1.LOANNMB = #arguments.loanNmb#
 
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --OG UNALLOC
 */
 UPDATE stgCSA.PRPLOANRQSTTBL SET OPENGNTYUNALLOCAMT = UNALLOCAMT 
 WHERE OPENGNTYREGAMT > 0 AND UNALLOCAMT > 0 
 AND LOANNMB = loannmb_in;
 /* AND LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 <cfquery datasource="#variables.db#" name="getLoansQ" username="#variables.username#" password="#variables.password#">
 
 --OG AMT
 */ UPDATE stgCSA.PRPLOANRQSTTBL SET OPENGNTYAMT = OPENGNTYREGAMT + OPENGNTYERRAMT 
 WHERE LOANNMB = loannmb_in;
 /* WHERE LOANNMB = #arguments.loanNmb#
 </cfquery>
 
 </cffunction>
 */
 exception
 when others then
 errval:=sqlcode;
 errmsg:=sqlerrm(sqlcode);
 rollback to refreshPRPLoanRqstByLoanNmbCSP;
 end;
 
<cfoutput>
Nothing to see here! Move along!
</cfoutput>

