<!--- Saved 12/31/2017 09:00:20. --->
PROCEDURE SOFVAUDTUpdTsp(
 p_identifier number:=0,
 p_retval out number,
 p_errval out number,
 p_errmsg out varchar2,
 P_AUDTRECRDKEY CHAR:=NULL, P_AUDTTRANSDT TIMESTAMP:=NULL,
 P_AUDTSEQNMB NUMBER:=NULL, P_AUDTOPRTRINITIAL CHAR:=NULL,
 P_AUDTTRMNLID CHAR:=NULL, P_AUDTCHNGFILE CHAR:=NULL,
 P_AUDTACTNCD CHAR:=NULL, P_AUDTBEFCNTNTS VARCHAR2:=NULL,
 P_AUDTAFTCNTNTS VARCHAR2:=NULL, P_AUDTFLDNM CHAR:=NULL,
 P_AUDTEDTCD CHAR:=NULL, P_AUDTUSERID VARCHAR2:=NULL,
 P_CREATUSERID VARCHAR2:=NULL, P_CREATDT DATE:=NULL,
 P_LASTUPDTUSERID VARCHAR2:=NULL, P_LASTUPDTDT DATE:=NULL)
 
 as
 /*
 <!--- generated 2017-09-28 14:04:37 by SYS --->
 Created on: 2017-09-28 14:04:37
 Created by: SYS
 Crerated from genr, stdtblupd_template v 1.0
 Purpose : standard update by key for table STGCSA.SOFVAUDTTBL
 */
 BEGIN 
 savepoint SOFVAUDTUpdTsp;
 p_errval:=0;
 p_errmsg:=null; 
 if p_identifier=0 then
 update STGCSA.SOFVAUDTTBL set (
 AUDTOPRTRINITIAL, AUDTTRMNLID, AUDTCHNGFILE, AUDTACTNCD, AUDTBEFCNTNTS,
 AUDTAFTCNTNTS, AUDTFLDNM, AUDTEDTCD, AUDTUSERID, CREATUSERID, CREATDT,
 LASTUPDTUSERID, LASTUPDTDT)=
 (select 
 P_AUDTOPRTRINITIAL, P_AUDTTRMNLID, P_AUDTCHNGFILE, P_AUDTACTNCD,
 P_AUDTBEFCNTNTS, P_AUDTAFTCNTNTS, P_AUDTFLDNM, P_AUDTEDTCD,
 P_AUDTUSERID, P_CREATUSERID, P_CREATDT, P_LASTUPDTUSERID, P_LASTUPDTDT
 from dual) where (
 AUDTRECRDKEY, AUDTTRANSDT, AUDTSEQNMB)=
 (select 
 P_AUDTRECRDKEY, P_AUDTTRANSDT, P_AUDTSEQNMB
 from dual); 
 p_RETVAL := SQL%ROWCOUNT;
 else /* P_IDENTIFIER was unexpected value */
 raise_application_error(-20001,'Unexpected P_IDENTIFIER value: '||p_identifier);
 end if; 
 EXCEPTION
 WHEN OTHERS THEN
 p_errval:=SQLCODE;
 p_errmsg:=SQLERRM(SQLCODE); 
 ROLLBACK TO SOFVAUDTUpdTsp;
 RAISE;
 /* 
 <cfoutput>
 Nothing to see here! Move along!
 </cfoutput>
 */
 END SOFVAUDTUpdTsp; 
<cfoutput>
Nothing to see here! Move along!
</cfoutput>

