<!--- Saved 12/31/2017 09:00:21. --->
PROCEDURE SOFVLND1_ADDRINFOVsUpdTsp(
 p_identifier number:=0,
 p_retval out number,
 p_errval out number,
 p_errmsg out varchar2,
 P_LOANNMB CHAR:=NULL, P_LOANDTLSBCMAILADRSTR1NM VARCHAR2:=NULL,
 P_LASTUPDTDT DATE:=NULL, P_LASTUPDTUSERID VARCHAR2:=NULL,
 P_LOANDTLBORRMAILADRSTCD CHAR:=NULL,
 P_LOANDTLSBCMAILADRSTR2NM VARCHAR2:=NULL,
 P_LOANDTLSBCMAILADRZIP4CD CHAR:=NULL, P_LOANDTLBORRNM VARCHAR2:=NULL,
 P_LOANDTLBORRMAILADRSTR1NM VARCHAR2:=NULL,
 P_LOANDTLBORRMAILADRSTR2NM VARCHAR2:=NULL,
 P_LOANDTLBORRMAILADRZIPCD CHAR:=NULL,
 P_LOANDTLSBCMAILADRSTCD CHAR:=NULL,
 P_LOANDTLSBCMAILADRZIPCD CHAR:=NULL,
 P_LOANDTLBORRMAILADRCTYNM VARCHAR2:=NULL,
 P_LOANDTLSBCNM VARCHAR2:=NULL, P_LOANDTLSBCMAILADRCTYNM VARCHAR2:=NULL,
 P_LOANDTLBORRMAILADRZIP4CD CHAR:=NULL)
 
 as
 /*
 <!--- generated 2017-09-29 13:31:15 by SYS --->
 Created on: 2017-09-29 13:31:15
 Created by: SYS
 Crerated from genr, stdtblupd_template v 1.0
 Purpose : standard update by key for table STGCSA.SOFVLND1_ADDRINFOV
 */
 BEGIN 
 savepoint SOFVLND1_ADDRINFOVsUpdTsp;
 p_errval:=0;
 p_errmsg:=null; 
 if p_identifier=0 then
 update STGCSA.SOFVLND1TBL set (
 LOANDTLSBCMAILADRSTR1NM, LASTUPDTDT, LASTUPDTUSERID,
 LOANDTLBORRMAILADRSTCD, LOANDTLSBCMAILADRSTR2NM,
 LOANDTLSBCMAILADRZIP4CD, LOANDTLBORRNM, LOANDTLBORRMAILADRSTR1NM,
 LOANDTLBORRMAILADRSTR2NM, LOANDTLBORRMAILADRZIPCD,
 LOANDTLSBCMAILADRSTCD, LOANDTLSBCMAILADRZIPCD, LOANDTLBORRMAILADRCTYNM,
 LOANDTLSBCNM, LOANDTLSBCMAILADRCTYNM, LOANDTLBORRMAILADRZIP4CD)=
 (select 
 P_LOANDTLSBCMAILADRSTR1NM, P_LASTUPDTDT, P_LASTUPDTUSERID,
 P_LOANDTLBORRMAILADRSTCD, P_LOANDTLSBCMAILADRSTR2NM,
 P_LOANDTLSBCMAILADRZIP4CD, P_LOANDTLBORRNM, P_LOANDTLBORRMAILADRSTR1NM,
 P_LOANDTLBORRMAILADRSTR2NM, P_LOANDTLBORRMAILADRZIPCD,
 P_LOANDTLSBCMAILADRSTCD, P_LOANDTLSBCMAILADRZIPCD,
 P_LOANDTLBORRMAILADRCTYNM, P_LOANDTLSBCNM, P_LOANDTLSBCMAILADRCTYNM,
 P_LOANDTLBORRMAILADRZIP4CD
 from dual) where (
 LOANNMB)=
 (select 
 P_LOANNMB
 from dual); 
 p_RETVAL := SQL%ROWCOUNT;
 else /* P_IDENTIFIER was unexpected value */
 raise_application_error(-20001,'Unexpected P_IDENTIFIER value: '||p_identifier);
 end if; 
 EXCEPTION
 WHEN OTHERS THEN
 p_errval:=SQLCODE;
 p_errmsg:=SQLERRM(SQLCODE); 
 ROLLBACK TO SOFVLND1_ADDRINFOVsUpdTsp;
 RAISE;
 /* 
 <cfoutput>
 Nothing to see here! Move along!
 </cfoutput>
 */
 END SOFVLND1_ADDRINFOVsUpdTsp; 
<cfoutput>
Nothing to see here! Move along!
</cfoutput>

