<!--- Saved 12/14/2017 15:20:07. --->
PROCEDURE SOFVLND1_BANKINFOVsUpdTsp(
 p_identifier number:=0,
 p_retval out number,
 p_errval out number,
 p_errmsg out varchar2,
 P_LOANNMB CHAR:=NULL, P_LOANDTLACHBNKNM VARCHAR2:=NULL,
 P_LOANDTLACHBNKMAILADRSTR2NM VARCHAR2:=NULL,
 P_LOANDTLACHBNKMAILADRSTCD CHAR:=NULL,
 P_LOANDTLACHBNKMAILADRCTYNM VARCHAR2:=NULL,
 P_LOANDTLACHBNKMAILADRZIP4CD CHAR:=NULL,
 P_LOANDTLACHBNKROUTNMB CHAR:=NULL, P_LASTUPDTDT DATE:=NULL,
 P_LOANDTLACHBNKMAILADRSTR1NM VARCHAR2:=NULL,
 P_LOANDTLACHBNKMAILADRZIPCD CHAR:=NULL,
 P_LASTUPDTUSERID VARCHAR2:=NULL, P_LOANDTLACHBNKACTYP CHAR:=NULL,
 P_LOANDTLACHBNKACCT VARCHAR2:=NULL)
 
 as
 /*
 <!--- generated 2017-09-29 13:31:18 by SYS --->
 Created on: 2017-09-29 13:31:18
 Created by: SYS
 Crerated from genr, stdtblupd_template v 1.0
 Purpose : standard update by key for table STGCSA.SOFVLND1_BANKINFOV
 */
 BEGIN 
 savepoint SOFVLND1_BANKINFOVsUpdTsp;
 p_errval:=0;
 p_errmsg:=null; 
 if p_identifier=0 then
 update STGCSA.SOFVLND1TBL set (
 LOANDTLACHBNKNM, LOANDTLACHBNKMAILADRSTR2NM, LOANDTLACHBNKMAILADRSTCD,
 LOANDTLACHBNKMAILADRCTYNM, LOANDTLACHBNKMAILADRZIP4CD,
 LOANDTLACHBNKROUTNMB, LASTUPDTDT, LOANDTLACHBNKMAILADRSTR1NM,
 LOANDTLACHBNKMAILADRZIPCD, LASTUPDTUSERID, LOANDTLACHBNKACTYP,
 LOANDTLACHBNKACCT)=
 (select 
 P_LOANDTLACHBNKNM, P_LOANDTLACHBNKMAILADRSTR2NM,
 P_LOANDTLACHBNKMAILADRSTCD, P_LOANDTLACHBNKMAILADRCTYNM,
 P_LOANDTLACHBNKMAILADRZIP4CD, P_LOANDTLACHBNKROUTNMB, P_LASTUPDTDT,
 P_LOANDTLACHBNKMAILADRSTR1NM, P_LOANDTLACHBNKMAILADRZIPCD,
 P_LASTUPDTUSERID, P_LOANDTLACHBNKACTYP, P_LOANDTLACHBNKACCT
 from dual) where (
 LOANNMB)=
 (select 
 P_LOANNMB
 from dual); 
 p_RETVAL := SQL%ROWCOUNT;
 else /* P_IDENTIFIER was unexpected value */
 raise_application_error(-20001,'Unexpected P_IDENTIFIER value: '||p_identifier);
 end if; 
 EXCEPTION
 WHEN OTHERS THEN
 p_errval:=SQLCODE;
 p_errmsg:=SQLERRM(SQLCODE); 
 ROLLBACK TO SOFVLND1_BANKINFOVsUpdTsp;
 RAISE;
 /* 
 <cfoutput>
 Nothing to see here! Move along!
 </cfoutput>
 */
 END SOFVLND1_BANKINFOVsUpdTsp;
 
<cfoutput>
Nothing to see here! Move along!
</cfoutput>

